<app-navbar8 />

 <section class="pt-24 pb-12 lg:mb-4 lg:mt-10">
        <div class="container">
            <div class="grid lg:grid-cols-12 grid-cols-1 gap-6 lg:pb-12 md:pb-8">

                <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
                <div class="lg:col-span-3 pe-6">
                    <app-account-sidebar />
                </div>

                <!-- Account profile content -->
                <div class="lg:col-span-9 col-span-1">
                    <h1 class="mb-4 pb-4 lg:text-3.5xl md:text-2.5xl text-2xl font-semibold text-default-900">My profile</h1>

                    <div class="grid md:grid-cols-2 grid-cols-1 gap-6 md:mb-4 pb-12">
                        <div class="bg-success/10 rounded-md h-full">
                            <div class="p-6">
                                <h3 class="text-sm text-default-900 font-normal mb-2">Personal wallet</h3>
                                <div class="text-xl font-semibold text-default-900">$0.00</div>
                            </div>

                            <div class="pb-6 px-6">
                                <a class="inline-flex items-center text-sm font-medium text-success" href="#!">
                                    <span class="hover:underline">Top up the wallet</span>
                                    <i class="iconify lucide--chevron-right text-base ms-1"></i>
                                </a>
                            </div>
                        </div>

                        <div class="bg-warning/10 rounded-md h-full p-6 flex items-center">
                            <div class="relative shrink-0 w-24 h-24" role="progressbar" aria-label="Warning progress" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                <svg class="w-full h-full transform -rotate-90" viewBox="0 0 96 96">
                                    <circle cx="48" cy="48" r="44" stroke="rgba(255,255,255)" stroke-width="8" fill="transparent" />
                                    <circle cx="48" cy="48" r="44" stroke="currentColor" stroke-width="8" fill="transparent" stroke-dasharray="276.46" stroke-dashoffset="96.76" class="text-warning transition-all duration-300" />
                                </svg>
                                <h5 class="absolute inset-0 flex items-center justify-center text-default-900 font-semibold text-xl">
                                    65%
                                </h5>
                            </div>

                            <div class="ps-6">
                                <h3 class="text-default-900 font-semibold pb-1 mb-2">Complete your profile</h3>
                                <ul class="text-sm space-y-2">
                                    <li class="flex items-center">
                                        <iconify-icon icon="lucide:plus" class="me-2"></iconify-icon>
                                        Add the languages you speak
                                    </li>

                                    <li class="flex items-center">
                                        <iconify-icon icon="lucide:plus" class="me-2"></iconify-icon>
                                        Verify your email
                                    </li>

                                    <li class="flex items-center">
                                        <iconify-icon icon="lucide:plus" class="me-2"></iconify-icon>
                                        Add date of birth
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="pb-12 lg:mb-4">
                        <div class="mb-6">
                            <img src="assets/img/account/avatar-lg.jpg" alt="Avatar" class="size-30.5 rounded-full">
                        </div>

                        <h2 class="mb-4 text-xl text-default-900 font-semibold">Michael Williams</h2>
                        <ul class="flex flex-row flex-wrap gap-4 text-sm mb-4">
                            <li class="flex items-center me-2">
                                <iconify-icon icon="lucide:mail" class="me-2 text-base"></iconify-icon>
                                m.williams@example.com
                            </li>

                            <li class="flex items-center me-2">
                                <iconify-icon icon="lucide:phone" class="me-2 text-base"></iconify-icon>
                                (212) 555-7890
                            </li>

                            <li class="flex items-center">
                                <iconify-icon icon="lucide:map-pin" class="me-2 text-base"></iconify-icon>
                                New York, Brooklyn
                            </li>
                        </ul>

                        <p class="text-sm mb-6">Extensive experience in rentals and a vast database means I can quickly find the options that are right for you. Looking for a seamless and exciting rental experience? Contact me today - I promise it won't be boring! Your perfect home is just a call away.</p>
                        <a href="account-settings.html" class="py-2.5 px-5 w-auto text-sm text-default-600 rounded-md border border-border transition hover:border-default-900 inline-flex font-semibold">
                            Edit profile
                        </a>
                    </div>

                    <div class="pb-12 lg:mb-4">
                        <div class="flex items-start justify-between gap-4 mb-6">
                            <h2 class="text-2xl font-semibold text-default-900">My listings</h2>
                            <div class="inline-flex items-center gap-2 ">
                                <a href="account-listings.html" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                </a>
                            </div>
                        </div>

                        <div class="group cursor-pointer border border-border rounded-md md:grid grid-cols-4 mb-4">
                            <div class="col-span-1">
                                <div class="min-h-43.5 size-full rounded-tl-md md:rounded-bl-md md:rounded-tr-none rounded-bl-none rounded-tr-md md:pe-2">
                                    <img src="assets/img/listings/real-estate/01.jpg" class="size-full rounded-tl-md md:rounded-bl-md md:rounded-tr-none rounded-bl-none rounded-tr-md object-cover" alt="Image">
                                </div>
                            </div>

                            <div class="col-span-3 md:py-6 md:ps-4 md:pe-6 p-4">
                                <div class="flex justify-between items-center w-full">
                                    <div>
                                        <div class="bg-default-100 mb-2 dark:bg-white/3 text-default-900 text-xs inline-flex item-center font-medium px-2 py-0.5 rounded items-center">
                                            For rent
                                        </div>
                                        <div class="text-xl font-semibold text-default-900 mb-2">$2,500</div>

                                        <a class="text-sm block mb-2" href="#!">40 S 9th St, Brooklyn, NY 11249</a>
                                        <div class="text-default-900 text-sm font-semibold">97 sq.m</div>
                                    </div>

                                    <div>
                                        <div class="text-xs mb-4 text-end">Created: 05/10/2024</div>
                                        <div class="mb-4 flex gap-2 justify-end">
                                            <button class="py-2.5 px-5 w-auto text-sm text-default-600 rounded-md border border-border transition hover:border-default-900 inline-flex font-semibold">
                                                Statistics
                                            </button>

                                            <div class="hs-dropdown relative inline-flex">
                                                <button type="button" class="hs-dropdown-toggle inline-flex items-center justify-center rounded-md border border-default-300 size-10 text-default-600  focus:outline-hidden hover:border-default-900 dark:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Share">
                                                    <i class="iconify lucide--settings"></i>
                                                </button>

                                                <div class="hs-dropdown-menu hidden transition-[opacity,margin] duration opacity-0 hs-dropdown-open:opacity-100 absolute z-20 min-w-45 bg-body-bg border border-border shadow-custom rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700" role="menu" aria-orientation="vertical">
                                                    <div class="p-2.5 space-y-0.5">
                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="square-pen" class="size-4"></i>
                                                            Edit
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="zap" class="size-4"></i>
                                                            Promote
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="archive" class="size-4"></i>
                                                            Move to archive
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-primary hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="trash-2" class="size-4"></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="flex flex-row gap-2 flex-wrap text-sm">
                                            <li class="flex items-center md:me-4 me-2">
                                                <i class="iconify lucide--eye text-base me-1"></i>
                                                1246
                                            </li>

                                            <li class="flex items-center md:me-4 me-2">
                                                <i class="iconify lucide--heart text-base me-1"></i>
                                                23
                                            </li>

                                            <li class="flex items-center">
                                                <i class="iconify lucide--phone-incoming text-base me-1"></i>
                                                8
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group cursor-pointer border border-border rounded-md md:grid grid-cols-4">
                            <div class="col-span-1">
                                <div class="min-h-43.5 size-full rounded-tl-md md:rounded-bl-md md:rounded-tr-none rounded-bl-none rounded-tr-md md:pe-2">
                                    <img src="assets/img/listings/real-estate/02.jpg" class="size-full rounded-tl-md md:rounded-bl-md md:rounded-tr-none rounded-bl-none rounded-tr-md object-cover" alt="Image">
                                </div>
                            </div>

                            <div class="col-span-3 md:py-6 md:ps-4 md:pe-6 p-4">
                                <div class="flex justify-between items-center w-full">
                                    <div>
                                        <div class="bg-default-100 mb-2 dark:bg-white/3 text-default-900 text-xs inline-flex item-center font-medium px-2 py-0.5 rounded items-center">
                                            For rent
                                        </div>

                                        <div class="text-xl font-semibold text-default-900 mb-2">$1,350</div>
                                        <a class="text-sm block mb-2" href="#!">444 Park Ave, Brooklyn, NY 11205</a>
                                        <div class="text-default-900 text-sm font-semibold">45 sq.m</div>
                                    </div>

                                    <div>
                                        <div class="text-xs mb-4 text-end">Created: 12/06/2024</div>
                                        <div class="mb-4 flex gap-2 justify-end">
                                            <button class="py-2.5 px-5 w-auto text-sm text-default-600 rounded-md border border-border transition hover:border-default-900 inline-flex font-semibold">
                                                Statistics
                                            </button>

                                            <div class="hs-dropdown relative inline-flex">
                                                <button type="button" class="hs-dropdown-toggle inline-flex items-center justify-center rounded-md border border-default-300 size-10 text-default-600  focus:outline-hidden hover:border-default-900  dark:text-white" aria-haspopup="menu" aria-expanded="false" aria-label="Share">
                                                    <i class="iconify lucide--settings"></i>
                                                </button>

                                                <div class="hs-dropdown-menu hidden transition-[opacity,margin] duration opacity-0 hs-dropdown-open:opacity-100 absolute z-20 min-w-45 bg-body-bg border border-border shadow-custom rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700" role="menu" aria-orientation="vertical">
                                                    <div class="p-2.5 space-y-0.5">
                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="square-pen" class="size-4"></i>
                                                            Edit
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="zap" class="size-4"></i>
                                                            Promote
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="archive" class="size-4"></i>
                                                            Move to archive
                                                        </a>

                                                        <a href="#!" class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-primary hover:bg-default-100 
                                                                focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 
                                                                dark:hover:text-neutral-300 dark:focus:bg-neutral-700">
                                                            <i data-lucide="trash-2" class="size-4"></i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="flex flex-row gap-2 flex-wrap text-sm">
                                            <li class="flex items-center md:me-4 me-2">
                                                <i class="iconify lucide--eye text-base me-1"></i>
                                                678
                                            </li>

                                            <li class="flex items-center md:me-4 me-2">
                                                <i class="iconify lucide--heart text-base me-1"></i>
                                                5
                                            </li>

                                            <li class="flex items-center">
                                                <i class="iconify lucide--phone-incoming text-base me-1"></i>
                                                1
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pb-12 lg:mb-4">
                        <div class="flex items-start justify-between gap-4 mb-6">
                            <h2 class="text-2xl font-semibold text-default-900">Reviews</h2>
                            <div class="inline-flex items-center gap-2 ">
                                <a href="account-reviews.html" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                </a>
                            </div>
                        </div>

                        <div class="bg-default-100 dark:bg-white/3 rounded-md md:p-10 p-6">
                            <div class="grid md:grid-cols-4 grid-cols-2 md:gap-6 gap-4">
                                <div>
                                    <h3 class="text-sm font-normal text-body-color mb-2">Reviews about you</h3>
                                    <div class="text-xl text-default-900 font-semibold">8</div>
                                </div>

                                <div>
                                    <h3 class="text-sm font-normal text-body-color mb-2">Reviews by you</h3>
                                    <div class="text-xl text-default-900 font-semibold">12</div>
                                </div>

                                <div>
                                    <h3 class="text-sm font-normal text-body-color mb-2">Marked as "Useful"</h3>
                                    <div class="text-xl text-default-900 font-semibold">3</div>
                                </div>

                                <div>
                                    <h3 class="text-sm font-normal text-body-color mb-2">Your overall rating</h3>
                                    <div class="text-xl flex items-center text-default-900 font-semibold"><i class="iconify tabler--star-filled text-warning me-2 text-xl"></i>4.9</div>
                                </div>
                            </div>

                            <hr class="my-6 text-default-300 dark:text-white/20">

                            <div class="pt-2 mb-4 flex justify-between items-center">
                                <div class="flex gap-4 items-center">
                                    <div>
                                        <img src="assets/img/account/reviews/ava01.jpg" alt="Avatar" class="size-12 rounded-full">
                                    </div>

                                    <div>
                                        <h6 class="mb-1 text-default-900 font-semibold">Randy Walker</h6>
                                        <div class="text-xs">Nov 12, 2024</div>
                                    </div>
                                </div>

                                <div class="flex gap-1">
                                    <i class="iconify tabler--star-filled text-warning"></i>
                                    <i class="iconify tabler--star-filled text-warning"></i>
                                    <i class="iconify tabler--star-filled text-warning"></i>
                                    <i class="iconify tabler--star-filled text-warning"></i>
                                    <i class="iconify tabler--star-filled text-warning"></i>
                                </div>
                            </div>

                            <p class="text-sm mb-2">Review on:<a class="hover:underline font-medium text-default-900 ms-2" href="#!">67-04 Myrtle Ave Glendale, NY 11385</a></p>
                            <p class="text-sm">Excellent apartment in the very center of the city, attractions and entertainment venues are located 50m from the flat. The flat was perfectly clean and had basic slippers, gel-shampoo, clean towels.</p>
                        </div>
                    </div>

                    <div class="pb-12 lg:mb-4">
                        <div class="flex items-start justify-between gap-4 mb-6">
                            <h2 class="text-2xl font-semibold text-default-900">Favorites</h2>
                            <div class="inline-flex items-center gap-2 ">
                                <a href="account-favorites.html" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                </a>
                            </div>
                        </div>

                        <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
                            <div class="group">
                                <div class="bg-body-bg rounded-lg border border-default-200 h-full transition">

                                    <div class="relative bg-default-100 dark:bg-white/3 overflow-hidden">
                                        <div class="swiper z-20" data-swiper='{
             "pagination": { "el": ".swiper-pagination" },
             "navigation": { "prevEl": ".btn-prev", "nextEl": ".btn-next" },
             "breakpoints": { "991": { "allowTouchMove": false } }
           }'>
                                            <a class="swiper-wrapper" href="#!">

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/06.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/06.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/06.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="absolute top-0 start-0 z-10 flex flex-col gap-2 pt-2 ps-2 mt-2 ms-2">
                                                <div>
                                                    <p class="bg-primary inline-flex w-auto text-white text-xs px-2 py-1 rounded">New</p>
                                                </div>
                                            </div>

                                            <div class="absolute top-0 end-0 z-10 transition pt-2 pe-2 mt-2 me-2">
                                                <button type="button" class="size-8 bg-white text-default-700 rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify tabler--heart-filled text-primary"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 start-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 ms-3">
                                                <button type="button" class="btn-prev size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-left text-lg"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 end-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 me-3">
                                                <button type="button" class="btn-next size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                                </button>
                                            </div>
                                            <div class="swiper-pagination bottom-0 mb-2"></div>
                                        </div>
                                    </div>

                                    <div class="p-4">
                                        <div class="pb-1 mb-2">
                                            <span class="bg-default-100 dark:bg-white/3 font-medium text-default-800 text-xs px-2 py-1 rounded">For sale</span>
                                        </div>
                                        <div class="text-xl text-default-900 font-semibold mb-2">$375,000</div>
                                        <h3 class="text-sm font-normal text-default-700 mb-2">
                                            <a href="#!" class="text-body-color">
                                                929 Hart St, Brooklyn, NY 11237
                                            </a>
                                        </h3>
                                        <div class="text-sm text-default-900 font-semibold">108 sq.m</div>
                                    </div>

                                    <div class="flex gap-2.5 px-3 pb-3 text-sm text-default-700">
                                        <div class="flex items-center gap-1">
                                            3<i class="iconify lucide--bed-single text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            2<i class="iconify lucide--shower-head text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            1<i class="iconify lucide--car text-default-500 size-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="group">
                                <div class="bg-body-bg rounded-lg border border-default-200 h-full transition">

                                    <div class="relative bg-default-100 dark:bg-white/3 overflow-hidden">
                                        <div class="swiper z-20" data-swiper='{
             "pagination": { "el": ".swiper-pagination" },
             "navigation": { "prevEl": ".btn-prev", "nextEl": ".btn-next" },
             "breakpoints": { "991": { "allowTouchMove": false } }
           }'>
                                            <a class="swiper-wrapper" href="#!">

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/03.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/03.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/03.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="absolute top-0 start-0 z-10 flex flex-col gap-2 pt-2 ps-2 mt-2 ms-2">
                                                <div>
                                                    <div class="bg-info text-white text-xs inline-flex item-center font-medium px-2 py-0.5 rounded items-center">
                                                        Features
                                                    </div>

                                                    <div>
                                                        <p class="bg-primary inline-flex w-auto text-white text-xs px-2 py-0.5 rounded">New</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="absolute top-0 end-0 z-10 transition pt-2 pe-2 mt-2 me-2">
                                                <button type="button" class="size-8 bg-white text-default-700 rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify tabler--heart-filled text-primary"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 start-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 ms-3">
                                                <button type="button" class="btn-prev size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-left text-lg"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 end-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 me-3">
                                                <button type="button" class="btn-next size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                                </button>
                                            </div>

                                            <div class="swiper-pagination bottom-0 mb-2"></div>
                                        </div>
                                    </div>

                                    <div class="p-4">
                                        <div class="pb-1 mb-2">
                                            <span class="bg-default-100 dark:bg-white/3 font-medium text-default-800 text-xs px-2 py-1 rounded">For rent</span>
                                        </div>
                                        <div class="text-xl text-default-900 font-semibold mb-2">$1,890</div>
                                        <h3 class="text-sm font-normal text-default-700 mb-2">
                                            <a href="#!" class="text-body-color">
                                                3811 Ditmars Blvd Astoria, NY 11105
                                            </a>
                                        </h3>
                                        <div class="text-sm text-default-900 font-semibold">75 sq.m</div>
                                    </div>

                                    <div class="flex gap-2.5 px-3 pb-3 text-sm text-default-700">
                                        <div class="flex items-center gap-1">
                                            2<i class="iconify lucide--bed-single text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            1<i class="iconify lucide--shower-head text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            1<i class="iconify lucide--car text-default-500 size-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="group">
                                <div class="bg-body-bg rounded-lg border border-default-200 h-full transition">

                                    <div class="relative bg-default-100 dark:bg-white/3 overflow-hidden">
                                        <div class="swiper z-20" data-swiper='{
             "pagination": { "el": ".swiper-pagination" },
             "navigation": { "prevEl": ".btn-prev", "nextEl": ".btn-next" },
             "breakpoints": { "991": { "allowTouchMove": false } }
           }'>
                                            <a class="swiper-wrapper" href="#!">

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/05.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/05.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="block relative pb-[calc(248/362*100%)]">
                                                        <img src="assets/img/listings/real-estate/05.jpg" alt="Image" class="absolute inset-0 size-full object-cover rounded-tr-md rounded-tl-md">
                                                        <span class="absolute inset-0 bg-gradient-to-b from-transparent to-black/10 z-10"></span>
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="absolute top-0 start-0 z-10 flex flex-col gap-2 pt-2 ps-2 mt-2 ms-2">
                                                <div class="bg-info text-white text-xs inline-flex item-center font-medium px-2 py-0.5 rounded items-center">
                                                    Verified <i class="iconify lucide--shield ms-1"></i>
                                                </div>
                                            </div>

                                            <div class="absolute top-0 end-0 z-10 transition pt-2 pe-2 mt-2 me-2">
                                                <button type="button" class="size-8 bg-white text-default-700 rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify tabler--heart-filled text-primary"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 start-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 ms-3">
                                                <button type="button" class="btn-prev size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-left text-lg"></i>
                                                </button>
                                            </div>

                                            <div class="absolute top-1/2 end-0 -translate-y-1/2 z-10 hidden lg:block opacity-0 group-hover:opacity-100 me-3">
                                                <button type="button" class="btn-next size-8 bg-white rounded-full shadow flex items-center justify-center">
                                                    <i class="iconify lucide--chevron-right text-lg"></i>
                                                </button>
                                            </div>

                                            <div class="swiper-pagination bottom-0 mb-2"></div>
                                        </div>
                                    </div>

                                    <div class="p-4">
                                        <div class="pb-1 mb-2">
                                            <span class="bg-default-100 dark:bg-white/3 font-medium text-default-800 text-xs px-2 py-1 rounded">For rent</span>
                                        </div>
                                        <div class="text-xl text-default-900 font-semibold mb-2">$1,250</div>
                                        <h3 class="text-sm font-normal text-default-700 mb-2">
                                            <a href="#!" class="text-body-color">
                                                444 Park Ave, Brooklyn, NY 11205
                                            </a>
                                        </h3>
                                        <div class="text-sm text-default-900 font-semibold">54 sq.m</div>
                                    </div>

                                    <div class="flex gap-2.5 px-3 pb-3 text-sm text-default-700">
                                        <div class="flex items-center gap-1">
                                            1<i class="iconify lucide--bed-single text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            1<i class="iconify lucide--shower-head text-default-500 size-5"></i>
                                        </div>

                                        <div class="flex items-center gap-1">
                                            0<i class="iconify lucide--car text-default-500 size-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h2 class="text-2xl text-default-900 font-semibold mb-6">Need help?</h2>
                        <div class="grid md:grid-cols-2 grid-cols-1 md:gap-12 gap-6">
                            <div class="group cursor-pointer">
                                <i class="iconify lucide--globe text-2xl text-default-900 mb-2"></i>
                                <h3 class="pb-md-1 mb-2">
                                    <a class="text-default-900 font-semibold group-hover:underline" href="#!">Join a Finder property club</a>
                                </h3>
                                <p class="text-sm">Join your local Host Club to connect with your hosting community both online and through in-person or virtual meetups.</p>
                            </div>

                            <div class="group cursor-pointer">
                                <i class="iconify lucide--headphones text-2xl text-default-900 mb-2"></i>
                                <h3 class="pb-md-1 mb-2">
                                    <a class="text-default-900 font-semibold group-hover:underline" href="#!">Join a Finder property club</a>
                                </h3>
                                <p class="text-sm">I'm your virtual assistant from the Help Center, ready to assist you in finding the information and resources you're looking for.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>