<div class="sticky top-26">
    <div class="bg-default-100 dark:bg-white/3 md:p-8 p-6 rounded-md">
        <div class="flex items-center group mb-6">
            <a routerLink="/vendor-real-estate">
                <div class=" rounded-full overflow-hidden size-20">
                    <img src="assets/img/listings/real-estate/single/avatar.jpg" alt="Avatar">
                </div>
            </a>
            <div class="ps-6">
                <h5 class="mb-1 text-xl font-semibold text-default-900">
                    <a class="group-hover:underline" routerLink="/vendor-real-estate">Liza Williams</a>
                </h5>
                <p class="text-sm">Listing agent</p>
            </div>
        </div>

        <ul class="flex flex-col gap-2 mb-6">
            <li class="flex items-center">
                <iconify-icon icon="lucide:mail" class="me-2"></iconify-icon>
                <a href="mailto:liza.williams@example.com" class=" font-normal text-sm hover:underline">
                    liza.williams@example.com
                </a>
            </li>

            <li class="flex items-center">
                <iconify-icon icon="lucide:phone" class="me-2"></iconify-icon>
                <a href="tel:745-854-4264" class=" font-normal text-sm hover:underline">
                    745-854-4264
                </a>
            </li>
        </ul>

        <div>
            <button type="button" class="py-3 px-6 rounded-md text-white w-full inline-flex justify-center font-semibold bg-primary hover:bg-primary transition-all duration-300 ease-in-out">Schedule a tour</button>
        </div>

        <div class="text-xs text-center pt-1 pb-2 my-2">It's free, cancel anytime</div>
        <div class="flex items-center mb-4">
            <hr class="w-full border-default-300 dark:border-white/20">
            <div class="-mt-1 px-4 text-default-600">or</div>
            <hr class="w-full border-default-300 dark:border-white/20">
        </div>

        <div>
            <button type="button" class="py-3 px-6 rounded-md border border-default-900   text-default-900 w-full inline-flex justify-center font-semibold bg-transparent hover:bg-default-900 hover:text-body-bg transition-all duration-300 ease-in-out">Send message</button>
        </div>
    </div>
</div>