<ol class="flex flex-wrap items-center whitespace-nowrap pb-2 lg:mb-4 mb-2">
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden" routerLink="/">
            Home
        </a>
        <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
    </li>

    <li class="inline-flex items-center">
        <a routerLink="/listings-list-doctors" class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden">
            Physicians
        </a>
        <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
    </li>

    <li class="inline-flex items-center text-sm font-medium text-default-500/80 truncate" aria-current="page">
        Dr. Michael Johnston
    </li>
</ol>