<app-navbar2 />

 <section class="pt-24 pb-12 lg:mb-12 lg:mt-10 md:mb-4 lg:w-247.5 w-full mx-auto">
        <div class="container">
            <h1 class="lg:pb-6 pb-4 mb-4 text-default-900 font-semibold lg:text-3.5xl md:text-2.5xl text-2xl">Terms and Conditions</h1>

            <hr class="mb-6 text-default-200 dark:text-white/20">

            <div class="lg:pt-4 pt-2 mb-4 text-default-900 font-semibold"><span class="text-secondary font-medium">Last updated:</span> August 15, 2024</div>

            <p class="mb-4">Welcome to Finder! These terms and conditions outline the rules and regulations for the use of Finder's Website, located at <span class="font-semibold">findertheme.com</span>. By accessing this website, we assume you accept these terms and conditions. Do not continue to use Finder if you do not agree to take all of the terms and conditions stated on this page.</p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">1. Definitions</h2>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    <span class="font-semibold text-default-900">"Finder"</span> refers to our real estate listings website.
                </li>

                <li>
                    <span class="font-semibold text-default-900">"User"</span> refers to anyone using our website, including sellers, buyers, renters, and agents.
                </li>

                <li>
                    <span class="font-semibold text-default-900">"Listing"</span> refers to any property listed for sale, purchase, or rent on Finder.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">2. Acceptance of Terms</h2>

            <p class="mb-4">By using Finder, you agree to comply with and be legally bound by the terms and conditions set forth below, whether or not you become a registered user of the services. These terms govern your access to and use of the website and services, and constitute a binding legal agreement between you and Finder.</p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">3. Use of the Website </h2>

            <h3 class="mb-4 text-default-900 font-semibold pt-1">a. Eligibility</h3>

            <p class="mb-4">To use Finder, you must be at least 18 years old and capable of forming a binding contract with Finder and not be barred from using the services under applicable law.</p>

            <h3 class="mb-4 text-default-900 font-semibold pt-1">b. User Accounts</h3>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Users may be required to create an account to access certain features of the website.
                </li>

                <li>
                    You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">4. Listings and Transactions </h2>

            <h3 class="mb-4 text-default-900 font-semibold pt-1">a. Listings</h3>
            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Users can create listings to sell, buy, or rent properties.
                </li>

                <li>
                    Listings must be accurate, up-to-date, and not misleading.
                </li>
            </ul>

            <h3 class="mb-4 text-default-900 font-semibold pt-1">b. User Accounts</h3>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Finder is not a party to any transaction between buyers, sellers, and renters. We do not guarantee the quality, safety, or legality of the properties listed.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">5. User Obligations </h2>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Users must comply with all applicable laws and regulations.
                </li>

                <li>
                    Users must not use Finder to engage in any illegal or fraudulent activities.
                </li>

                <li>
                    Users must not post any content that is offensive, defamatory, or infringes on any third party's rights.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">6. Fees and Payments </h2>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Certain services on Finder may require payment of fees. All fees are non-refundable unless otherwise stated.
                </li>

                <li>
                    Payment terms are outlined at the point of transaction.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">7. Intellectual Property </h2>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    All content on Finder, including text, graphics, logos, and software, is the property of Finder or its content suppliers and is protected by copyright laws.
                </li>

                <li>
                    Users may not reproduce, distribute, or create derivative works from any content on Finder without our explicit permission.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">8. Privacy Policy </h2>

            <p class="mb-4">Your use of Finder is also governed by our Privacy Policy, which is incorporated by reference into these terms. Please review our Privacy Policy to understand our practices.</p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">9. Limitation of Liability </h2>

            <ul class="list-disc ps-6 mb-4 space-y-2 text-default-700">
                <li>
                    Finder is not liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of the website.
                </li>

                <li>
                    Finder does not guarantee the accuracy, completeness, or usefulness of any information on the website.
                </li>
            </ul>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">10. Indemnification </h2>

            <p class="mb-4">You agree to indemnify and hold Finder and its affiliates, officers, agents, and employees harmless from any claim or demand, including reasonable attorney's fees, made by any third party due to or arising out of your use of the website, your violation of these terms, or your violation of any rights of another.</p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">11. Modifications to the Service </h2>

            <p class="mb-4">Finder reserves the right to modify or discontinue, temporarily or permanently, the service with or without notice at any time.</p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">12. Governing Law </h2>

            <p class="mb-4">These terms and conditions are governed by and construed in accordance with the laws of [Your Country/State], and you irrevocably submit to the exclusive jurisdiction of the courts in that location. </p>

            <h2 class="lg:pt-6 pt-4 mb-4 text-default-900 font-semibold lg:text-2xl text-xl">13. Contact information </h2>

            <p class="mb-4">If you have any questions, or comments about these Terms please contact Finder at:</p>

            <ul class="pb-1 space-y-2 mb-4 ">
                <li class="pt-1 text-default-800 hover:text-default-900">
                    <a href="tel:+15053753082" class="flex items-start text-base p-0">
                        <iconify-icon icon="lucide:phone" class="text-xl mt-1 me-2"></iconify-icon>
                        +1&nbsp;50&nbsp;537&nbsp;53&nbsp;082
                    </a>
                </li>

                <li class="pt-1 text-default-800 hover:text-default-900">
                    <a href="mailto:contact@findertheme.com" class="flex items-start text-base">
                        <iconify-icon icon="lucide:mail" class="text-xl mt-1 me-2"></iconify-icon>
                        contact@findertheme.com
                    </a>
                </li>

                <li class="pt-1 text-default-800 hover:text-default-900">
                    <a [routerLink]="[]" class="flex items-start text-base">
                        <iconify-icon icon="lucide:map-pin" class="text-xl mt-1 me-2"></iconify-icon>
                        12 Beale St. Suite 600 San Francisco, California 94105
                    </a>
                </li>
            </ul>

            <p class="pb-4">For customer service inquiries, please review Your Account Settings, visit Finder's <a class="font-medium text-info underline hover:no-underline" routerLink="/help/topics/v1">Help Center.</a></p>

            <hr class="md:my-6 my-4 text-default-200 dark:text-white/20">

            <h2 class="md:mb-6 mb-4 pt-4 text-xl text-default-900 font-semibold">Was this information helpful?</h2>
            <div class="flex gap-4">
                <button type="button" class="py-2.5 px-5 border border-default-200 rounded-md text-default-800 transition-all duration-300 inline-flex items-center hover:border-default-900 dark:border-white/3 text-sm font-semibold">
                    <iconify-icon icon="lucide:thumbs-up" class="me-2"></iconify-icon>Yes
                </button>

                <button type="button" class="py-2.5 px-5 border border-default-200 rounded-md text-default-800 transition-all duration-300 inline-flex items-center hover:border-default-900 dark:border-white/3 text-sm font-semibold">
                    <iconify-icon icon="lucide:thumbs-down" class="me-2"></iconify-icon>No
                </button>
            </div>
        </div>
    </section>

    <app-footer />