<section class="lg:py-12 md:pt-12 pt-8 pb-6">
        <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 rounded-xl bg-default-100 dark:bg-white/3">
                <div class="lg:h-136 h-full w-full md:block hidden">
                    <img src="assets/img/contact/v2/contcat-form.jpg" class="rounded-tl-xl rounded-bl-xl lg:h-136 h-full w-full object-cover" alt="Image">
                </div>

                <div class="md:p-12 pb-12 pt-6 px-6 lg:my-6 lg:mx-12">
                    <h2 class="lg:text-2xl text-xl text-default-900 font-semibold mb-6">Get in touch!</h2>

                    <div class="mb-4">
                        <input type="email" class="w-full border border-border rounded-md focus:ring-0 placeholder-default-500 bg-body-bg py-2.75 px-4.5" placeholder="Full name*" required="">
                    </div>

                    <div class="mb-4">
                        <input type="email" class="w-full border border-border rounded-md focus:ring-0 placeholder-default-500 bg-body-bg py-2.75 px-4.5" placeholder="Email*" required="">
                    </div>

                    <div class="mb-6">
                        <textarea type="email" class="w-full border border-border rounded-md focus:ring-0 placeholder-default-500 bg-body-bg py-2.75 px-4.5" placeholder="Your message*" required="" rows="5"></textarea>
                    </div>

                    <button type="submit" class="w-full py-2.5 px-6 rounded-md bg-default-900 text-body-bg transition-all duration-300 hover:bg-default-950">Submit form</button>
                </div>
            </div>
        </div>
    </section>