<app-navbar7 />
<section class="md:mt-20 mt-10 pt-6 pb-12 lg:py-12">
    <div class="container">
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 pt-4 pb-12 md:mb-0 mb-6">
            <div>
                <app-property-sidebar [currentStepIndex]="4" />
            </div>

            <div class="lg:col-span-2">
                <h1 class="lg:text-3.5xl md:text-2.5xl text-2xl text-default-900 font-semibold lg:pb-2 pb-1 mb-4">Price</h1>

                <label class="block text-sm text-default-900 font-semibold mb-2">Price *</label>
                <div class="relative md:w-97.5 w-full mb-4">
                    <lucide-icon name="dollar-sign" class="size-4.5 absolute top-1/2 -translate-y-1/2  start-2"></lucide-icon>
                    <input type="number" id="price" min="20" placeholder="Set a fair price" required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent ps-10 pe-4.5 py-2.75">
                </div>

                <div class="flex items-center gap-2 mb-2">
                    <label for="negotiated" class="relative inline-block w-11 h-6 cursor-pointer">
                        <input type="checkbox" id="negotiated" class="peer sr-only">
                        <span class="absolute inset-0 bg-default-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-success dark:bg-neutral-700 dark:peer-checked:bg-success peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>
                        <span class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
                    </label>
                    <label for="negotiated" class="text-default-900 text-sm">Negotiated price</label>
                </div>

                <div class="pt-4 mt-4">
                    <label class="block text-sm text-default-900 font-semibold mb-2 pb-1">Type of offer *</label>

                    <div class="flex flex-wrap md:gap-6 gap-4">

                        @for (item of userData; track $index) {

                        <div class="relative">

                            <input type="radio" name="type" [id]="item.id" class="hidden peer" [checked]="item.checked">

                            <label [for]="item.id" class="cursor-pointer rounded-full font-medium py-2 px-5 border border-default-300 w-full inline-flex peer-checked:bg-default-100 peer-checked:dark:bg-white/10 peer-checked:text-default-800 peer-checked:border-default-900 peer-checked:dark:border-white hover:border-default-900 text-sm peer-focus:ring-2 peer-focus:ring-dark peer-focus:dark:ring-white transition">

                                <lucide-icon [name]="item.icon" class="size-4 me-2">
                                </lucide-icon>

                                {{ item.label }}

                            </label>

                        </div>

                        }

                    </div>
                </div>

                <div class="mt-4 pt-4">
                    <div class="flex flex-col gap-4">

                        @for (item of propertyOptionsData; track $index) {

                        <label [for]="item.id" class="flex items-center text-default-700 text-sm cursor-pointer checked:text-default-800">

                            <input type="checkbox" [id]="item.id" class="size-4 checked:text-dark border-default-300 dark:bg-body-bg! rounded me-2" [checked]="item.checked">

                            {{ item.label }}

                        </label>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="fixed bottom-0 pb-4 w-full bg-body-bg">
    <div class="h-1 w-full rounded-none bg-default-200">
        <div class="h-1 bg-default-900" style="width: 71.43%"></div>
    </div>

    <div class="container pt-4">
        <div class="flex justify-between">

            <a routerLink="/add-property/details" class="relative inline-flex items-center px-5 py-2.5 border border-default-900 bg-transparent rounded-md text-default-900 text-sm font-medium transition group hover:text-body-bg hover:bg-default-900">
                <iconify-icon icon="lucide:arrow-left" class="me-2 opacity-100 -translate-x-0 transition-all duration-300 group-hover:opacity-0 group-hover:-translate-x-5"></iconify-icon>
                Back
                <iconify-icon icon="lucide:arrow-left" class="me-2 absolute start-5 opacity-0 translate-x-5 transition-all duration-300 group-hover:opacity-100 group-hover:translate-x-0"></iconify-icon>
            </a>

            <a routerLink="/add-property/contact-info" class="relative inline-flex items-center px-5 py-2 rounded-md bg-default-900 text-body-bg font-medium hover:bg-default-800 transition group text-sm">
                Next
                <iconify-icon icon="lucide:arrow-right" class="ms-2 opacity-100 translate-x-0 transition-all duration-300  group-hover:opacity-0 group-hover:translate-x-5"></iconify-icon>
                <iconify-icon icon="lucide:arrow-right" class="ms-2 absolute end-5 opacity-0 -translate-x-5 transition-all duration-300 group-hover:opacity-100 group-hover:translate-x-0"></iconify-icon>
            </a>
        </div>
    </div>
</footer>