<ol class="flex flex-wrap items-center whitespace-nowrap md:pb-4 pb-2 mb-4">
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden" routerLink="/">
            Home
        </a>
        <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
    </li>

    <li class="inline-flex items-center">
        <a routerLink="/listings-real-estate" class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden">
            Property for rent
        </a>
        <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
    </li>

    <li class="inline-flex items-center text-sm font-medium text-default-400 truncate" aria-current="page">
        67-04 Myrtle Ave Glendale, NY
    </li>
</ol>