<section class="py-12 md:mt-4">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-6">
            <div class="lg:col-span-3 md:col-span-4 col-span-1">
                <h3 class="lg:pb-6 md:pb-4 pb-2 mb-4 uppercase text-sm font-normal text-secondary">Finder core team</h3>

                <div class="flex items-center gap-5 flex-wrap">

                    @for (item of teamAvatarsData; track $index) {
                    <div class="group flex justify-center items-center flex-col hs-tooltip [--placement:auto]">

                        <button type="button" class="hs-tooltip-toggle size-16 inline-flex justify-center items-center gap-2 ">
                            <div>
                                <img [src]="item.image" [alt]="item.name" class="size-16 rounded-full">
                            </div>
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible bg-default-800 text-white rounded inline-block absolute invisible text-sm -mt-8 -ms-4 z-10 py-1 px-2 " role="tooltip">
                                {{ item.name }}
                            </span>

                        </button>

                    </div>
                    }

                </div>
            </div>

            <div class="lg:col-span-9 md:col-span-8 col-span-1">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
                    <div class="lg:w-82.5 w-full ms-auto">
                        <h3 class="lg:pb-6 md:pb-4 pb-2 mb-4 uppercase text-sm font-normal text-secondary">Best in the market</h3>

                        <div class="flex flex-col gap-6">
                            @for (item of marketRatingsData; track $index) {
                            <a class="inline-flex items-center gap-4 group" [class]="item.extraClass" [routerLink]="[]">

                                <div [innerHTML]="getSafeSvg(item.svg)"></div>

                                <div class="font-medium text-default-900 group-hover:underline">
                                    {{ item.title }}
                                </div>
                            </a>
                            }
                        </div>
                    </div>

                    <div class="lg:w-104 w-ful ms-auto">
                        <h3 class="lg:pb-6 md:pb-4 pb-2 mb-4 uppercase text-sm font-normal text-secondary">Best in the market </h3>
                        <div class="flex flex-col gap-4">
                            @for (item of marketLinksData; track $index) {
                            <a class="flex text-base font-normal group items-center" [routerLink]="[]">

                                <iconify-icon icon="lucide:chevron-right" class="text-lg me-2">
                                </iconify-icon>

                                <span class="group-hover:underline">
                                    {{ item }}
                                </span>
                            </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>