<section class="lg:mt-15 mt-10 pt-6 md:mb-6 relative">
    <div class="grid md:grid-cols-2 grid-cols-1 bg-info items-center">
        <div class="lg:w-111.5 md:w-80 w-80 mx-auto my-12">
            <h2 class="text-white mb-4 pb-4 font-semibold lg:text-3.5xl md:text-2.5xl text-2xl ">DIY guide to fixing common power tool issues</h2>
            <a [routerLink]="[]" class="border border-white py-3.5 px-6 rounded-md text-white font-semibold text-base inline-flex items-center">Read More
                <iconify-icon icon="lucide:chevron-right" class="text-lg"></iconify-icon>
            </a>
        </div>

        <div>
            <div class="col-span-1 md:block hidden">
                <img src="assets/img/blog/v3/featured.jpg" class="w-full h-full object-cover" alt="Image">
            </div>
        </div>
    </div>
</section>