<section class="lg:py-12 pt-6 pb-12 mt-6">
  <div class="container">
    <ul class="flex md:gap-4 gap-2 mb-4 pb-4">
      <li>
        <a
          [routerLink]="[]"
          class="py-2.5 px-5 inline-flex rounded-full text-default-900 border border-default-900 bg-default-100 dark:bg-white/3 text-sm font-semibold"
          >For patients</a
        >
      </li>

      <li>
        <a
          [routerLink]="[]"
          class="py-2.5 px-5 inline-flex rounded-full text-default-900 border border-default-300 dark:border-white/20 hover:border-default-900 transition-all duration-300 text-sm font-semibold"
          >For doctors</a
        >
      </li>
    </ul>

    <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
      @for (item of helpCategoryData; track $index) {
        <div class="bg-default-100 dark:bg-white/3 rounded-md lg:p-2">
          <div class="p-6">
            <h3 class="text-xl font-semibold text-default-900 mb-6">
              {{ item.title }}
            </h3>

            <ul class="flex flex-col gap-4">
              @for (article of item.visibleArticles; track $index) {
                <li>
                  <a
                    routerLink="/help/single-article/v3"
                    class="flex items-center text-base font-normal text-default-800 hover:text-default-900 transition-all duration-300 ease-in-out"
                  >
                    <iconify-icon icon="lucide:chevron-right" class="text-lg me-2"></iconify-icon>
                    <span class="hover:underline transition-all duration-300 ease-in-out">
                      {{ article }}
                    </span>
                  </a>
                </li>
              }
            </ul>

            <div class="hidden" [id]="item.collapseId">
              <ul class="flex flex-col gap-4 pt-4">
                @for (article of item.hiddenArticles; track $index) {
                  <li>
                    <a
                      routerLink="/help/single-article/v3"
                      class="flex items-center text-base font-normal text-default-800 hover:text-default-900 transition-all duration-300 ease-in-out"
                    >
                      <iconify-icon icon="lucide:chevron-right" class="text-lg me-2"></iconify-icon>
                      <span class="hover:underline transition-all duration-300 ease-in-out">
                        {{ article }}
                      </span>
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>

          <div class="pb-6 px-6">
            <div class="flex">
              <button
                class="w-full py-2 text-default-900 inline-flex items-center text-start text-sm font-medium hover:underline"
                type="button"
                (click)="toggleCollapse(item.collapseId)"
                aria-expanded="false"
                [attr.aria-controls]="item.collapseId"
              >
                Show more
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
