<ol class="flex flex-wrap items-center whitespace-nowrap md:pb-4 pb-2 mb-4">
  <li class="inline-flex items-center">
    <a
      class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden"
      routerLink="/"
    >
      Home
    </a>
    <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
  </li>

  <li
    class="inline-flex items-center text-sm font-medium text-default-500/80 truncate"
    aria-current="page"
  >
    Used cars
  </li>
</ol>
