<div class="md:pb-2 md:px-2">
    <h2 class="mb-6 text-default-900 font-semibold md:text-2xl text-xl">Basic information</h2>
    <div class="mb-6">
        <label class="block text-sm text-default-900 font-semibold mb-2 pb-1">Condition of the car *</label>
        <div class="flex gap-4">
            <div class="relative">
                <input type="radio" name="property" id="newcar" class="hidden peer" checked>
                <label for="newcar" class="cursor-pointer rounded-full font-medium px-5 py-2 inline-flex text-sm border border-default-300 peer-checked:bg-default-100 peer-checked:dark:bg-white/5 peer-checked:text-default-800 peer-checked:border-default-900 peer-checked:dark:border-white hover:border-default-900 peer-focus:ring-2 peer-focus:ring-dark peer-focus:dark:ring-white transition">
                    New car
                </label>
            </div>

            <div class="relative">
                <input type="radio" name="property" id="usedcar" class="hidden peer">
                <label for="usedcar" class="cursor-pointer rounded-full font-medium px-5 py-2 inline-flex text-sm border border-default-300 peer-checked:bg-default-100 peer-checked:dark:bg-white/5 peer-checked:text-default-800 peer-checked:border-default-900 peer-checked:dark:border-white hover:border-default-900 peer-focus:ring-2 peer-focus:ring-dark peer-focus:dark:ring-white transition">
                    Used car
                </label>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-6 gap-4 md:mb-6 mb-4">
        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Car brand *</label>
            <select required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
                <option value="Toyota">Toyota</option>
                <option value="Mercedes-Benz" selected="">Mercedes-Benz</option>
                <option value="BMW">BMW</option>
                <option value="Honda">Honda</option>
                <option value="Ford">Ford</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Audi">Audi</option>
                <option value="Tesla">Tesla</option>
                <option value="Nissan">Nissan</option>
                <option value="Volkswagen">Volkswagen</option>
            </select>
        </div>

        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Car model *</label>
            <select required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
                <option value="A-Class">A-Class</option>
                <option value="C-Class">C-Class</option>
                <option value="E-Class">E-Class</option>
                <option value="S-Class">S-Class</option>
                <option value="A205" selected="">A205</option>
                <option value="GLA">GLA</option>
                <option value="GLC">GLC</option>
                <option value="GLE">GLE</option>
                <option value="GLS">GLS</option>
                <option value="AMG GT">AMG GT</option>
            </select>
        </div>

        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Manufacturing year *</label>
            <select required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021" selected="">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
            </select>
        </div>

        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Mileage *</label>
            <input type="text" placeholder="K miles" required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
        </div>
    </div>

    <div class="mb-6">
        <label class="block text-sm text-default-900 font-semibold mb-2">Body type *</label>

        <div class="grid md:grid-cols-5 grid-cols-2 gap-4">
            @for (item of carBodyData; track $index) {
            <div class="relative">
                <input type="radio" name="property" [id]="item.id" class="hidden peer" [checked]="item.checked">

                <label [for]="item.id" class="cursor-pointer rounded-md font-medium inline-flex text-sm p-4 border border-default-300 peer-checked:bg-default-100 peer-checked:dark:bg-white/5 peer-checked:text-default-800 peer-checked:border-default-900 peer-checked:dark:border-white hover:border-default-900 peer-focus:ring-2 peer-focus:ring-dark peer-focus:dark:ring-white transition">

                    <span class="text-center flex flex-col gap-2">
                        <img [src]="item.image" [alt]="item.label">
                        {{ item.label }}
                    </span>
                </label>
            </div>
            }
        </div>
    </div>

    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-6 gap-4 mb-4 md:mb-6">
        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Location *</label>
            <select required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago" selected="">Chicago</option>
                <option value="Houston">Houston</option>
                <option value="Phoenix">Phoenix</option>
                <option value="Philadelphia">Philadelphia</option>
                <option value="San Antonio">San Antonio</option>
                <option value="San Diego">San Diego</option>
                <option value="Dallas">Dallas</option>
                <option value="San Jose">San Jose</option>
            </select>
        </div>

        <div>
            <label class="block text-sm text-default-900 font-semibold mb-2">Radius</label>
            <select required class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75">
                <option value="200 mi">200 mi</option>
                <option value="150 mi">150 mi</option>
                <option value="100 mi">100 mi</option>
                <option value="50 mi" selected="">50 mi</option>
                <option value="25 mi">25 mi</option>
            </select>
        </div>
    </div>

    <div class="rounded-md bg-default-100 dark:bg-white/3 p-6">
        <h6 class="mb-2 text-default-900 font-semibold">Cars with a verified VIN code sell faster</h6>
        <p class="text-sm mb-4">We will check the car for free in the registers of the Ministry of Internal Affairs, the open data portal and dealer databases.</p>

        <div class="flex items-center gap-2">
            <input type="text" placeholder="VIN code" required class="md:w-78.5 w-50 rounded-lg border border-default-300 dark:border-white/20 bg-body-bg text-sm px-4.5 py-2">
            <button type="button" class="size-10 flex justify-center items-center rounded-md bg-default-900 text-body-bg">
                <iconify-icon icon="lucide:camera"></iconify-icon></button>
        </div>
    </div>
</div>