<app-navbar7 />
<section class="md:mt-20 mt-10 pt-6 pb-12 lg:pt-10 lg:pb-50">
    <div class="container">
        <h1 class="text-default-900 font-semibold lg:text-4.5xl md:text-3.5xl text-2xl mb-6 pt-4">Effective promotion of your ad</h1>

        <p>We have created a special offer for your business to make promotion on Finder convenient and effective.</p>

        <div class="overflow-x-auto">
            <div class="lg:grid lg:grid-cols-3 flex gap-6 items-end md:pt-8 pb-4 mb-1">

                @for (plan of pricingPlansData; track $index;let first =$first) {

                @if (plan.recommended) {

                <div class="bg-info rounded-xl pb-1 px-1 min-w-72.5">
                    <div class="text-white text-sm font-semibold text-center py-1">
                        Recommended
                    </div>

                    <div class="bg-default-100 dark:bg-white/3 rounded-xl md:p-8 p-6">

                        <div [innerHTML]="getSafeSvg(plan.svg)"></div>

                        <h3 class="text-lg font-normal mb-4 text-default-900">
                            {{ plan.title }}
                        </h3>

                        <div class="flex items-center pb-1 xl:pb-0 mb-2 xl:mb-3">
                            <div class="lg:text-4.5xl md:text-3.5xl text-2xl font-bold text-default-900">
                                {{ plan.price }}
                            </div>

                            <div class="text-sm ms-2">
                                {{ plan.duration }}
                            </div>
                        </div>

                        <p class="text-sm md:mb-6 mb-4">
                            {{ plan.description }}
                        </p>

                        <button type="button" [class]="plan.buttonClass">
                            {{ plan.buttonText }}
                        </button>

                        @if (plan.extraTitle) {
                        <div class="text-sm pt-6 mt-2 mb-4 text-default-900 font-semibold">
                            {{ plan.extraTitle }}
                        </div>
                        }

                        <ul class="flex flex-col gap-3 text-sm text-default-900">
                            @for (feature of plan.features; track $index) {
                            <li class="flex">
                                <lucide-icon name="check" class="size-4.5 text-default-500 me-2">
                                </lucide-icon>

                                {{ feature.text }}
                            </li>
                            }
                        </ul>

                    </div>
                </div>

                } @else {

                <div class="bg-default-100 dark:bg-white/3 rounded-xl md:p-8 p-6 min-w-72.5">

                    <div [innerHTML]="getSafeSvg(plan.svg)"></div>

                    <h3 class="text-lg font-normal mb-4 text-default-900">
                        {{ plan.title }}
                    </h3>

                    <div class="flex items-center pb-1 xl:pb-0 mb-2 xl:mb-3">
                        <div class="lg:text-4.5xl md:text-3.5xl text-2xl font-bold text-default-900">
                            {{ plan.price }}
                        </div>

                        <div class="text-sm ms-2">
                            {{ plan.duration }}
                        </div>
                    </div>

                    <p class="text-sm md:mb-6 mb-4">
                        {{ plan.description }}
                    </p>

                    <button type="button" [class]="plan.buttonClass">
                        {{ plan.buttonText }}
                    </button>

                    @if (plan.extraTitle) {
                    <div class="text-sm pt-6 mt-2 mb-4 text-default-900 font-semibold">
                        {{ plan.extraTitle }}
                    </div>
                    }

                    <ul class="flex flex-col gap-3 text-sm text-default-900" [ngClass]="{'pt-6 mt-2': first}">
                        @for (feature of plan.features; track $index) {
                        <li class="flex">
                            <lucide-icon name="check" class="size-4.5 text-default-500 me-2">
                            </lucide-icon>

                            {{ feature.text }}
                        </li>
                        }
                    </ul>

                </div>
                }
                }

            </div>
        </div>

        <h2 class="pt-12 lg:mt-1 md:mb-4 lg:mb-4 text-3.5xl font-semibold text-default-900">Other services</h2>

        @for (item of promotionData; track $index) {
        <div class="border-b border-border py-8 grid grid-cols-12 md:gap-6 gap-2">

            <div class="md:col-span-5 col-span-12">
                <div class="flex items-center gap-3 mb-2">

                    <div>
                        <label [for]="item.id" class="relative inline-block w-11 h-6 cursor-pointer">
                            <input type="checkbox" [id]="item.id" class="peer sr-only" [checked]="item.checked">

                            <span class="absolute inset-0 bg-default-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-success dark:bg-neutral-700 dark:peer-checked:bg-success peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                            </span>

                            <span class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-xs transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white">
                            </span>
                        </label>
                    </div>

                    <label [for]="item.id" class="text-default-900 font-semibold">
                        {{ item.title }}
                    </label>

                </div>
            </div>

            <div class="md:col-span-5 col-span-8">
                <p class="text-sm">
                    {{ item.description }}
                </p>
            </div>

            <div class="md:col-span-2 col-span-4">
                <div class="text-end text-default-900 font-semibold text-xl">
                    {{ item.price }}@if(item.duration) {
                    <span class="text-sm font-normal">{{ item.duration }}</span>
                    }
                </div>
            </div>

        </div>
        }
    </div>
</section>

<footer class="fixed bottom-0 pb-4 w-full bg-body-bg">
    <div class="h-1 w-full rounded-none bg-default-200">
        <div class="h-1 bg-default-900" style="width: 100%"></div>
    </div>

    <div class="container pt-4">
        <div class="flex justify-between">

            <div class="text-xl font-semibold text-default-900">Total: $29.00</div>

            <a routerLink="/add-property/promotion" class="relative inline-flex items-center px-5 py-2 rounded-md bg-primary text-white font-medium hover:bg-primary-hover transition text-sm">
                Submit and publish
            </a>
        </div>
    </div>
</footer>