 <section class="lg:py-12 md:py-8 pb-8 my-4">
        <div class="container">
            <div class="flex items-center justify-between gap-4 text-nowrap mb-8 md:flex-nowrap flex-wrap">
                <div class="flex items-center md:gap-12 gap-4 md:flex-nowrap flex-wrap">
                    <h2 class="lg:text-3.5xl md:text-2.5xl text-2xl font-semibold text-default-900">Popular Near You</h2>
                    <div class="overflow-x-auto lg:w-full w-85 md:pb-0 pb-4">
                        <ul class="flex gap-2">
                            <li>
                                <a [routerLink]="[]" class="border border-dark bg-default-50 inline-flex rounded-full dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">All</a>
                            </li>

                            <li>
                                <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Theater & Cinema</a>
                            </li>

                            <li>
                                <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Sports</a>
                            </li>

                            <li>
                                <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Convert</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="inline-flex items-center gap-2 ">
                    <a [routerLink]="[]" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                        <iconify-icon icon="lucide:chevron-right" class="text-lg"></iconify-icon>
                    </a>
                </div>
            </div>

            <div class="grid lg:grid-cols-2 grid-cols-1 pb-12 gap-6">
                <div class="!h-full">
                    <a routerLink="/single-entry-cars" class="group">
                        <div class="bg-default-100 dark:bg-white/3 rounded-md group lg:block md:flex block justify-between">
                            <div class="lg:order-1 order-2 rounded-md lg:w-full lg:h-full md:h-60.5 md:w-76.5 overflow-hidden relative">
                                <img src="assets/img/listings/events/15.jpg" alt="Image" class="lg:w-full lg:h-full md:h-60.5 md:w-76.5 object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-md">

                                <div class="absolute top-0 end-0 z-10 opacity-0 group-hover:opacity-100 transition pt-2 pe-2 mt-2 me-2">
                                    <button type="button" class="size-8 bg-white text-dark rounded-full shadow flex items-center justify-center">
                                        <iconify-icon icon="lucide:heart"></iconify-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="lg:order-2 order-1">
                                <div class="md:p-6 p-4">
                                    <ul class="flex flex-wrap items-center gap-2 text-sm mb-3">
                                        <li class="flex items-center">
                                            <iconify-icon icon="lucide:calendar" class="me-1"></iconify-icon>
                                            Nov 7
                                        </li>
                                        <li>10:00</li>
                                        <li class="flex mx-n1">
                                            <iconify-icon icon="lucide:dot" class="text-base"></iconify-icon>
                                        </li>
                                        <li>Sports</li>
                                    </ul>

                                    <h3 class="text-xl font-semibold text-default-900 mb-3 pt-1">
                                        <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-events">Workout with Fitness Stars</a>
                                    </h3>

                                    <div class="flex items-center text-sm lg:mb-6">
                                        <iconify-icon icon="lucide:map-pin" class="me-1"></iconify-icon>
                                        Chicago
                                    </div>
                                </div>

                                <div class="md:p-6 p-4 pt-0 flex items-center justify-between">
                                    <div class="text-info text-xl font-semibold">$25.00</div>
                                    <button type="button" class="rounded-md border border-default-900 dark:border-white text-default-900 dark:text-white py-2.5 px-5 text-sm font-semibold inline-flex relative z-2 ms-auto transition-all duration-300 ease-in-out hover:bg-default-900 hover:text-white">Book now</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <div class="group mb-6">
                        <div class="bg-default-100 dark:bg-white/3 rounded-md gap-10 md:flex block justify-between">
                            <div>
                                <div class="md:p-6 p-4">
                                    <ul class="flex flex-wrap items-center gap-2 text-sm mb-3">
                                        <li class="flex items-center">
                                            <iconify-icon icon="lucide:calendar" class="me-1"></iconify-icon>
                                            Dec 26
                                        </li>
                                        <li>19:00</li>
                                        <li class="flex mx-n1">
                                            <iconify-icon icon="lucide:dot" class="text-base"></iconify-icon>
                                        </li>
                                        <li>Concert</li>
                                    </ul>

                                    <h3 class="text-xl font-semibold text-default-900 mb-3 pt-1">
                                        <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-events">Winter Fest</a>
                                    </h3>

                                    <div class="flex items-center text-sm">
                                        <iconify-icon icon="lucide:map-pin" class="me-1"></iconify-icon>
                                        Chicago
                                    </div>
                                </div>

                                <div class="md:p-6 p-4 pt-0 flex items-center justify-between">
                                    <div class="text-info text-xl font-semibold">$32.00</div>
                                    <button type="button" class="rounded-md border border-default-900 dark:border-white text-default-900 dark:text-white py-2.5 px-5 text-sm font-semibold inline-flex relative z-2 ms-auto transition-all duration-300 ease-in-out hover:bg-default-900 hover:text-white">Book now</button>
                                </div>
                            </div>

                            <div>
                                <div class="rounded-md md:h-60.5 md:w-76.5 overflow-hidden relative">
                                    <img src="assets/img/listings/events/16.jpg" alt="Image" class="md:h-60.5 md:w-76.5 object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-md">

                                    <div class="absolute top-0 end-0 z-10 opacity-0 group-hover:opacity-100 transition pt-2 pe-2 mt-2 me-2">
                                        <button type="button" class="size-8 bg-white text-dark rounded-full shadow flex items-center justify-center">
                                            <iconify-icon icon="lucide:heart"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="group">
                        <div class="bg-default-100 dark:bg-white/3 rounded-md gap-10 md:flex block justify-between">
                            <div>
                                <div class="md:p-6 p-4">
                                    <ul class="flex flex-wrap items-center gap-1 text-sm mb-3">
                                        <li class="flex items-center">
                                            <iconify-icon icon="lucide:calendar" class="me-1"></iconify-icon>
                                            Oct 15
                                        </li>
                                        <li>19:00</li>
                                        <li class="flex mx-n1">
                                            <iconify-icon icon="lucide:dot" class="text-base"></iconify-icon>
                                        </li>
                                        <li>Theater & Cinema</li>
                                    </ul>

                                    <h3 class="text-xl font-semibold text-default-900 mb-3 pt-1">
                                        <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-events">Parallax Show Ballet</a>
                                    </h3>

                                    <div class="flex items-center text-sm">
                                        <iconify-icon icon="lucide:map-pin" class="me-1"></iconify-icon>
                                        Chicago
                                    </div>
                                </div>

                                <div class="md:p-6 p-4 pt-0 flex items-center justify-between">
                                    <div class="text-info text-xl font-semibold">$56.00</div>
                                    <button type="button" class="rounded-md border border-default-900 dark:border-white text-default-900 dark:text-white py-2.5 px-5 text-sm font-semibold inline-flex relative z-2 ms-auto transition-all duration-300 ease-in-out hover:bg-default-900 hover:text-white">Book now</button>
                                </div>
                            </div>

                            <div>
                                <div class="rounded-md md:h-60.5 md:w-76.5 overflow-hidden relative">
                                    <img src="assets/img/listings/events/17.jpg" alt="Image" class="md:h-60.5 md:w-76.5 object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-md">

                                    <div class="absolute top-0 end-0 z-10 opacity-0 group-hover:opacity-100 transition pt-2 pe-2 mt-2 me-2">
                                        <button type="button" class="size-8 bg-white text-dark rounded-full shadow flex items-center justify-center">
                                            <iconify-icon icon="lucide:heart"></iconify-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>