<section class="bg-info py-12">
    <div class="container">
        <div class="lg:py-12 md:py-6 md:mb-4">
            <h2 class="text-white lg:text-4.5xl md:text-3.5xl text-2.5xl font-semibold lg:mb-12 md:mb-8 mb-7">Key features</h2>

            <div class="swiper">

                <swiper-container [config]="swiperConfig" init="false" class="lg:mb-0 mb-12">

                    @for (item of featureCardData; track $index) {
                    <swiper-slide class="!h-full">
                        <div class="bg-body-bg rounded-xl md:p-2">
                            <div class="p-6">

                                <div [innerHTML]="getSafeSvg(item.svg)"></div>

                                <h3 class="pt-6 mb-2 pb-1 lg:text-2xl text-xl font-semibold text-default-900">
                                    {{ item.title }}
                                </h3>

                                <p [class]="item.className">
                                    {{ item.description }}
                                </p>

                            </div>
                        </div>
                    </swiper-slide>
                    }

                </swiper-container>

                <!-- Pagination (Bullets) -->
                <div id="features-pagination" class="swiper-pagination position-static mt-3" data-bs-theme="light"></div>
            </div>
        </div>
    </div>
</section>