<section class="relative pb-10 lg:mt-22 mt-15 overflow-hidden">
    <div class="container">
        <div class="lg:pt-24 pt-14 pb-6 lg:w-4xl mx-auto text-center">
            <h1 class="lg:text-5.5xl md:text-4.8xl text-3.5xl text-center text-default-900 font-bold md:mb-6 mb-4">Start exploring Barcelona</h1>
            <p class="lg:w-xl md:w-md mx-auto text-center text-lg md:mb-12 mb-10 lg:pb-4">Find great places to stay, eat, shop, or visit from our respected partners and local experts.</p>
            <form class="relative z-10 p-2 mx-auto lg:max-w-180 w-full">
                <div class="relative flex flex-col lg:flex-row gap-2 z-10 p-1">
                    <div class="flex flex-col sm:flex-row w-full gap-2 sm:gap-3">

                        <div class="relative w-full">
                            <iconify-icon icon="lucide:search" class="absolute top-1/2 start-0 -translate-y-1/2 text-xl text-default-500 ms-2"></iconify-icon>
                            <input type="search" placeholder="What are you looking for?" required class="w-full border-0 rounded-none ps-9 pe-0 py-3 text-base bg-transparent">
                        </div>

                        <hr class="sm:hidden m-0 border-border">
                        <div class="hidden sm:flex items-center">
                            <div class="border-l h-8 border-border"></div>
                        </div>

                        <div class="relative w-full max-w-55">
                            <iconify-icon icon="lucide:grid-2x2" class="absolute top-1/2 start-0 -translate-y-1/2 z-10 text-xl text-default-500 ms-2"></iconify-icon>
                            <select required class="w-full border-0 ps-9 py-3 text-base bg-transparent">
                                <option value="">Category</option>
                                <option value="Accommodation">Accommodation</option>
                                <option value="Shopping">Shopping</option>
                                <option value="Food & Drink">Food & Drink</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Health">Health</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="px-6 py-3.5 font-semibold bg-primary rounded-full text-white transition-all duration-300 ease-in-out hover:bg-primary-hover">
                        Search
                    </button>
                </div>

                <span class="absolute top-0 start-0 w-full h-full bg-body-bg border border-border rounded-full shadow hidden lg:block"></span>

                <span class="absolute top-0 start-0 w-full h-full bg-body-bg border border-border rounded-2xl shadow lg:hidden"></span>
            </form>

            <div class="lg:pt-12 md:pt-4 lg:my-4 mt-0">
                <div class="pt-12 overflow-x-auto whitespace-nowrap">
                    <div class="md:grid md:grid-cols-5 flex gap-6 justify-between">

                        @for (item of categoriesData; track $index) {
                        <div class="group">
                            <a [routerLink]="item.routerLink">

                                <!-- Icon -->
                                <div class="relative flex items-end justify-center mx-auto w-22 h-22 group-hover:scale-105 transition-all duration-300" [class]="item.colorClass">
                                    <div [innerHTML]="getSafeSvg(item.icon)"></div>

                                    <span class="absolute inset-0 rounded-full scale-110" [class]="item.bgClass"></span>
                                </div>

                                <!-- Title -->
                                <h3 class="text-base font-normal pt-6 text-center">
                                    <span class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300">
                                        {{ item.title }}
                                    </span>
                                </h3>

                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute -top-53 -start-92.5 w-216.25 lg:block hidden">
        <div class="aspect-square bg-emerald-50 dark:bg-default-200 rounded-full overflow-hidden">
            <img src="assets/img/home/city-guide/hero/01.jpg" alt="Image" class="w-full h-full object-cover">
        </div>

        <span class="absolute top-1/2 -translate-y-1/2 bg-emerald-50 dark:bg-default-200 rounded-full z-10 -end-6.75 size-15 mt-15.5">
        </span>

        <span class="absolute top-1/2 -translate-y-1/2 bg-primary rounded-full z-10 end-10.5 size-5.5 mt-6.25">
        </span>
    </div>

    <div class="absolute bottom-0 top-30.5 -end-26.25 w-140  lg:block hidden ">
        <div class="aspect-square bg-default-100 rounded-full overflow-hidden">
            <img src="assets/img/home/city-guide/hero/02.jpg" alt="Image" class="w-full h-full object-cover">
        </div>
        <span class="absolute top-0 start-13.75 size-15 mt-13.75 bg-primary rounded-full z-10"></span>
        <span class="absolute top-0 start-10 size-5.25 mt-6.25 bg-emerald-50 dark:bg-default-200 rounded-full z-10"></span>
    </div>
</section>