<div class="fixed top-1/2 end-4 z-80 flex flex-col items-center space-y-3 -translate-y-1/2">
    <a #topButton href="#top" class="relative flex flex-col items-center justify-center px-1.75 pb-4 pt-2.5 
           bg-body-bg rounded-full border border-border
           transition text-xs font-medium text-default-700 overflow-hidden opacity-0 pointer-events-none duration-300">
        <iconify-icon icon="lucide:arrow-up" class="text-base mb-1"></iconify-icon>
        <span class="[writing-mode:vertical-rl] [text-orientation:mixed] rotate-180 uppercase">
            Top
        </span>
        <svg class="absolute inset-0 w-full h-full pointer-events-none" viewBox="0 0 32 76" fill="none">
            <rect #scrollProgress x=".75" y=".75" width="30.5" height="75" rx="15.25" stroke="currentColor" stroke-width="1.5" fill="none" />
        </svg>
    </a>
</div>