 <div class="max-w-480 lg:ps-12 lg:pe-6 px-4 flex md:h-full h-screen">
        <div class="w-104 py-6 lg:me-12 lg:ms-auto mx-auto flex flex-col justify-between">
            <header>
                <div class="flex justify-between items-center lg:mb-6 mb-4 pb-6">
                    <a class="inline-flex items-center text-dark-emphasis pt-2.5" routerLink="/">
                        <span class="shrink-0 text-primary rtl-flip me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34">
                                <path d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z" fill="currentColor"></path>
                                <g fill-rule="evenodd">
                                    <path d="M17.5 13.258c-3.101 0-5.655 2.554-5.655 5.655s2.554 5.655 5.655 5.655 5.655-2.554 5.655-5.655-2.554-5.655-5.655-5.655zm-9.433 5.655c0-5.187 4.246-9.433 9.433-9.433s9.433 4.246 9.433 9.433a9.36 9.36 0 0 1-1.569 5.192l2.397 2.397a1.89 1.89 0 0 1 0 2.671 1.89 1.89 0 0 1-2.671 0l-2.397-2.397a9.36 9.36 0 0 1-5.192 1.569c-5.187 0-9.433-4.246-9.433-9.433z" fill="#000" fill-opacity=".05"></path>
                                    <g fill="#fff">
                                        <path d="M17.394 10.153c-3.723 0-6.741 3.018-6.741 6.741s3.018 6.741 6.741 6.741 6.741-3.018 6.741-6.741-3.018-6.741-6.741-6.741zM7.347 16.894A10.05 10.05 0 0 1 17.394 6.847 10.05 10.05 0 0 1 27.44 16.894 10.05 10.05 0 0 1 17.394 26.94 10.05 10.05 0 0 1 7.347 16.894z"></path>
                                        <path d="M23.025 22.525c.645-.645 1.692-.645 2.337 0l3.188 3.188c.645.645.645 1.692 0 2.337s-1.692.645-2.337 0l-3.187-3.187c-.645-.646-.645-1.692 0-2.337z"></path>
                                    </g>
                                </g>
                                <path d="M23.662 14.663c2.112 0 3.825-1.713 3.825-3.825s-1.713-3.825-3.825-3.825-3.825 1.713-3.825 3.825 1.713 3.825 3.825 3.825z" fill="#fff"></path>
                                <path fill-rule="evenodd" d="M23.663 8.429a2.41 2.41 0 0 0-2.408 2.408 2.41 2.41 0 0 0 2.408 2.408 2.41 2.41 0 0 0 2.408-2.408 2.41 2.41 0 0 0-2.408-2.408zm-5.242 2.408c0-2.895 2.347-5.242 5.242-5.242s5.242 2.347 5.242 5.242-2.347 5.242-5.242 5.242-5.242-2.347-5.242-5.242z" fill="currentColor"></path>
                            </svg>
                        </span>
                        <span class="text-2xl font-semibold text-default-900">Finder</span>
                    </a>

                    <a class="flex items-center text-base font-semibold" routerLink="/account/signin">
                        <iconify-icon icon="lucide:chevron-left" class="text-lg me-1"></iconify-icon>
                        <span class="hover:text-default-900">Back to Sign In</span>
                    </a>
                </div>
            </header>

            <div>
                <h1 class="mb-4 text-default-900 font-semibold lg:text-3.5xl md:text-2.5xl text-2xl">Forgot password?</h1>
                <p class="mb-4 pb-4">Enter the email address you used when you joined and we'll send you instructions to reset your password</p>
                <div class="mb-6 relative">
                    <iconify-icon icon="lucide:mail" class="absolute top-1/2 start-4 -translate-y-1/2 text-default-600"></iconify-icon>
                    <input type="password" placeholder="Email address" class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent ps-10 pe-4.5 py-2.75">
                </div>
                <button type="submit" class="py-3.5 px-6 text-white bg-primary inline-flex justify-center font-semibold w-full rounded-md transition hover:bg-primary-hover">Reset password</button>
            </div>

            <footer>
                <a class="mb-6 block underline hover:no-underline text-sm font-medium hover:text-default-900" routerLink="/help/topics/v1">Need help?</a>
                <p class="text-xs">
                    © All rights reserved. Made by <a class="hover:underline text-default-900" [routerLink]="[]" target="_blank" rel="noreferrer">Coderthemes</a>
                </p>
            </footer>
        </div>

        <div class="max-w-258.5 ms-auto py-6 lg:block hidden">
            <div class="flex flex-col justify-end h-full bg-info-subtle rounded-2xl bg-default-100 dark:bg-white/3">
                <div>
                    <img src="assets/img/account/account-cover.png" alt="Girl">
                </div>
            </div>
        </div>
    </div>