/* flatpickr css*/

.flatpickr-prev-month::before,
.flatpickr-next-month::before {
  content: '' !important;
  display: none !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  font-size: 0 !important;
  line-height: 0 !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  width: 35px !important;
  background-color: var(--color-default-500);
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cpath d='M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z'/%3E%3C/svg%3E")
    center / 14px no-repeat;

  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cpath d='M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z'/%3E%3C/svg%3E")
    center / 14px no-repeat;
}

.flatpickr-prev-month {
  transform: rotate(180deg);
}