/* ===== MATCH IMAGE DESIGN ===== */

/* Track */
.noUi-target {
    background-color: #e5e7eb !important;
    height: 4px !important;
    border-radius: 999px;
    border: none;
    box-shadow: none;
}

/* Active range (purple line) */
.noUi-connect {
    background: var(--color-default-800) !important;
}

/* Handle (circle style like image) */
.noUi-horizontal .noUi-handle {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    background: #ffffff !important;
    border: 3px solid var(--color-default-800) !important;
    box-shadow: none !important;
    top: -5px !important;
    right: -9px !important;
}

/* Remove inner lines */
.noUi-handle::before,
.noUi-handle::after {
    display: none !important;
}

.noUi-tooltip {
    bottom: 180% !important;   
    border: 1px solid #d1d5db !important;
    font-weight: 600;
    font-size: 12px;
    background-color: var(--color-body-bg);
}