<section class="lg:py-18 py-0">
    <div class="container">
        <div class="swiper pb-5">
            <swiper-container slides-per-view="1" space-between="24" pagination="true" pagination-el=".swiper-pagination" pagination-clickable="true" [breakpoints]='{
        "500": { "slidesPerView": 2 },
        "768": { "slidesPerView": 3 }
      }' class="swiper-wrapper lg:mb-0 mb-15">
                @for (card of actioncardsData; track $index) {
                <swiper-slide>
                    <div class="rounded-md group overflow-hidden" [class]="card.bgClass">

                        <div class="pt-12 py-6 pb-4">
                            <div class="mx-auto mb-4 text-dark-emphasis" [class]="card.textClass" [innerHTML]="card.svg">
                            </div>

                            <h3 class="text-xl font-semibold text-center" [class]="card.textClass">
                                {{ card.title }}
                            </h3>

                        </div>

                        <div class="flex-col flex items-center gap-12">

                            <a [routerLink]="card.buttonLink" class="mx-6 py-2.5 px-5 text-sm font-medium rounded-md bg-default-800 dark:bg-white text-body-bg hover:bg-black transition-all duration-300">
                                {{ card.buttonText }}
                            </a>

                            <div>
                                <img [src]="card.image" class="group-hover:scale-105 transition-all duration-300">
                            </div>

                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <!-- Pagination (Bullets) -->
            <div class="swiper-pagination static mt-3 mt-sm-4"></div>
        </div>
    </div>
</section>