<section class="lg:py-16 pt-2 pb-12">
  <div class="container">
    <h2 class="lg:text-3.5xl md:text-2.5xl text-2xl font-semibold text-default-900 md:mb-8 mb-6">
      What sets Finder apart?
    </h2>

    <div class="swiper">
      <swiper-container [config]="swiperConfig" init="false" class="lg:mb-0 mb-12">
        @for (item of featureData; track $index) {
          <swiper-slide class="h-auto">
            <div class="p-8 bg-success/7 rounded-md">
              <iconify-icon [icon]="item.icon" class="text-2xl"> </iconify-icon>

              <h3 class="mt-10 text-xl text-default-900 font-semibold">
                {{ item.title }}
              </h3>
            </div>
          </swiper-slide>
        }
      </swiper-container>

      <div id="feature-pagination" class="swiper-pagination static mt-3"></div>
    </div>
  </div>
</section>
