 <div id="addPayment" class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="addPaymentlabel">
        <div class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 md:max-w-lg md:w-full m-3 md:mx-auto min-h-[calc(100%-56px)] flex items-center">
            <div class="w-full flex flex-col bg-body-bg border border-gray-200 shadow-2xs rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <div class="flex justify-between items-center border-b border-default-200 px-6 py-5">
                    <h3 id="addPaymentlabel" class="font-bold text-default-800 md:text-2xl text-xl">
                        <nav class="flex gap-2" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
                            <button type="button" class="hs-tab-active:border-default-900 hs-tab-active:bg-default-100 hs-tab-active:dark-bg-white/3 rounded-full border border-border py-2 px-5 text-sm font-semibold text-body-color hover:border-default-900 active" id="add-card-tab" aria-selected="true" data-hs-tab="#add-card" aria-controls="add-card" role="tab">
                                Add card
                            </button>
                            <button type="button" class="hs-tab-active:border-default-900 hs-tab-active:bg-default-100 hs-tab-active:dark-bg-white/3 rounded-full border border-border py-2 px-5 text-sm font-semibold text-body-color hover:border-default-900" id="add-paypal-tab" aria-selected="false" data-hs-tab="#add-paypal" aria-controls="add-paypal" role="tab">
                                Add paypal
                            </button>
                        </nav>
                    </h3>

                    <button type="button" class="size-8 " aria-label="Close" data-hs-overlay="#addPayment">
                        <iconify-icon icon="lucide:x" width="24" height="24"></iconify-icon>
                    </button>
                </div>

                <div id="add-card" role="tabpanel" aria-labelledby="add-card-tab">
                    <div class="p-6">
                        <div class="grid grid-cols-2 gap-6 overflow-y-auto mt-3">
                            <div class="col-span-2">
                                <label class="block text-sm text-default-950 font-medium mb-2">Card number</label>
                                <input type="number" placeholder="XXXX XXXX XXXX XXXX" class="rounded-2xl bg-transparent border-default-200 dark:border-neutral-700 py-3 text-sm w-full" />
                            </div>

                            <div class="col-span-2 relative">
                                <label class="block text-sm text-default-950 font-medium mb-2">Name on card</label>
                                <input type="text" class="rounded-2xl bg-transparent border-default-200 dark:border-neutral-700 py-5 text-sm w-full" />
                                <iconify-icon icon="lucide:credit-card" width="24" height="24" class="absolute end-4 top-1/2 flex items-center"></iconify-icon>
                            </div>

                            <div class="col-span-1">
                                <label for="fn" class="block text-sm text-default-950 font-medium mb-2">Expiration date</label>
                                <input id="fn" type="text" placeholder="MM/YY" class="rounded-2xl bg-transparent border-default-200 dark:border-neutral-700 py-3 text-sm w-full" />
                            </div>

                            <div class="col-span-1">
                                <label for="ln" class="block text-sm text-default-950 font-medium mb-2">CVC</label>
                                <input id="ln" type="text" placeholder="XXXX" class="rounded-xl bg-transparent border-default-200 dark:border-neutral-700 py-3 text-sm w-full" />
                            </div>
                        </div>

                        <div class="md:flex justify-start gap-4 mt-6">
                            <button type="reset" aria-label="Close" data-hs-overlay="#addPayment" class="bg-default-200 dark:bg-neutral-700 dark:hover:bg-neutral-600 text-default-700 hover:bg-default-300 dark:text-white px-7 py-3 transition-all text-sm rounded-xl font-semibold w-full">Cancel</button>
                            <button type="submit" class="bg-primary/90 text-white hover:bg-primary px-7 py-3 transition-all text-sm rounded-xl font-semibold w-full md:mt-0 mt-3">
                                Add card
                            </button>
                        </div>
                    </div>
                </div>

                <div id="add-paypal" role="tabpanel" aria-labelledby="add-paypal-tab" class="hidden">
                    <div class="p-6">
                        <div class="col-span-2 relative">
                            <label class="block text-sm text-default-950 font-medium mb-2">Email associated with PayPal</label>
                            <input type="text" class="rounded-2xl bg-transparent border-default-200 dark:border-neutral-700 py-3 text-sm w-full" />
                        </div>

                        <div class="md:flex justify-start gap-4 mt-6">
                            <button type="reset" aria-label="Close" data-hs-overlay="#addPayment" class="bg-default-200 dark:bg-neutral-700 dark:hover:bg-neutral-600 text-default-700 hover:bg-default-300 dark:text-white px-7 py-3 transition-all text-sm rounded-xl font-semibold w-full">Cancel</button>
                            <button type="submit" class="bg-primary/90 text-white hover:bg-primary px-7 py-3 transition-all text-sm rounded-xl font-semibold w-full md:mt-0 mt-3">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>