<section class="lg:py-12 md:pt-6 pt-4 pb-12 lg:my-4">
    <div class="container">
        <div class="pb-6 md:mb-4 flex justify-between items-center">
            <h2 class="lg:text-4.5xl md:text-3.5xl text-2.5xl font-semibold text-default-900">From the blog</h2>
            <a routerLink="/blog-layout/v1" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                <iconify-icon icon="lucide:chevron-right" class="text-lg"></iconify-icon>
            </a>
        </div>

        <div class="swiper">
            <swiper-container class="mb-12" [config]="swiperConfig" init="false">
                @for (post of blogPostsData; track $index) {
                    <swiper-slide>
                        <a [routerLink]="[]">
                            <div class="rounded-md overflow-hidden mb-6">
                                <img [src]="post.image" alt="Category image" class="w-full h-full object-cover transition-transform duration-500 rounded-md hover:scale-110 z-0">
                            </div>
                            <div class="mb-3">
                                <a class="text-secondary text-xs uppercase hover:text-default-900 transition-all duration-400" [routerLink]="[]">{{ post.category }}</a>
                            </div>
                            <h3 class="text-default-900 font-semibold text-xl mb-2">
                                <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" [routerLink]="[]">{{ post.title }}</a>
                            </h3>
                            <p class="text-sm mb-4">{{ post.description }}</p>
                            <div class="text-sm gap-3">
                                <a class="font-semibold" [routerLink]="[]">by {{ post.author }}</a>
                                <span class="text-secondary"> {{ post.date }}</span>
                            </div>
                        </a>
                    </swiper-slide>
                }
                </swiper-container>
            <div id="blogpost-pagination" class="swiper-pagination static mt-3 mt-sm-4"></div>
        </div>
    </div>
</section>