<div class="lg:sticky lg:top-15">
    <div id="quickPreview" class="hs-overlay lg:static [--auto-close:lg] lg:block lg:translate-x-0 lg:strat-auto lg:bottom-auto hs-overlay-open:translate-x-0 translate-x-full transition-all duration-300 transform  hidden fixed top-0 end-0 bottom-0 z-60 bg-body-bg lg:bg-transparent lg:w-auto w-87" role="dialog" tabindex="-1" aria-label="Sidebar">
        <div class="flex flex-col sticky top-0">

            <header class="py-4 px-6 lg:px-0 lg:py-0 flex justify-between items-center gap-x-2">
                <a class="focus:outline-hidden focus:opacity-80 " [routerLink]="[]" aria-label="Brand">
                    <h3 class="text-base font-semibold text-default-900 lg:pt-12 pt-0">Quick preview</h3>
                </a>

                <div class="lg:hidden -me-2">
                    <button type="button" class="" data-hs-overlay="#quickPreview">
                        <iconify-icon icon="lucide:x" class="size-5"></iconify-icon>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            </header>

            <nav class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full">
                <div class="w-full flex flex-col flex-wrap pt-2 px-6 lg:px-0 pb-4 lg:pb-0">
                    <div class="h-auto group mb-4">
                        <a [routerLink]="[]" class="group">
                            <div class="bg-body-bg rounded-md">
                                <div class=" rounded-tl-md rounded-tr-md w-full h-full overflow-hidden relative">
                                    <img src="assets/img/listings/cars/grid/04.jpg" alt="Image" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-tl-md rounded-tr-md">

                                    <div class="absolute top-0 start-0 z-10 flex flex-col gap-1 pt-2 ps-2 mt-2 ms-2">
                                        <div>
                                            <p class="bg-warning inline-flex w-auto text-white text-xs px-2 py-0.5 rounded">Used</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="pb-4 lg:px-6 px-0 pt-6">
                                    <div class="flex justify-between items-center mb-2">
                                        <div class="text-xs text-secondary me-4">28/06/2024</div>

                                        <div class="flex gap-2">
                                            @for (item of actionButtonsData; track $index) {
                                            <div class="hs-tooltip [--placement:top] inline-block">
                                                <button type="button" class="hs-tooltip-toggle flex justify-center items-center size-8 border border-default-300 dark:border-white/20 rounded-full hover:border-body-color transition-all duration-300">
                                                    <iconify-icon [icon]="item.icon" class="text-body-color" height="14" width="14"></iconify-icon>

                                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-default-900 text-xs font-medium text-body-bg rounded-md" role="tooltip">
                                                        {{ item.tooltip }}
                                                    </span>
                                                </button>
                                            </div>
                                            }
                                        </div>
                                    </div>

                                    <h3 class="mb-2 text-default-900 font-semibold">
                                        <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300 me-2" [routerLink]="[]">Mercedes-Benz A205</a>
                                        <span class="text-xs font-normal text-secondary">(2021)</span>
                                    </h3>
                                    <div class="text-default-900 font-semibold">$41,900</div>
                                </div>

                                <div>
                                    <div class="pt-4 lg:px-6 px-0 pb-6 border-t border-border">
                                        <div class="grid grid-cols-2 gap-2">
                                            @for (item of vehicleDetailsData; track $index) {
                                            <div class="flex gap-2 items-center text-sm">
                                                <iconify-icon [icon]="item.icon" class="text-body-color">
                                                </iconify-icon>

                                                {{ item.value }}
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <hr class="text-default-200 dark:text-white/20 my-6 lg:hidden block">

                    <div class="bg-body-bg rounded-md lg:p-4 p-0">
                        <h3 class="text-default-900 font-semibold mb-1">The quality of content</h3>
                        <div class="text-sm text-end mb-2">75%</div>

                        <div class="w-full bg-default-200 rounded-full h-1" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="bg-warning h-1 rounded-full" style="width: 75%"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>