<div
  id="accountSidebar"
  class="hs-overlay lg:static [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-auto hs-overlay-open:translate-x-0 translate-x-full transition-all duration-300 transform hidden fixed top-0 end-0 bottom-0 z-60 bg-body-bg lg:w-auto w-87"
  role="dialog"
  tabindex="-1"
  aria-label="Sidebar"
>
  <div class="flex flex-col sticky top-0">
    <header
      class="py-4 px-6 lg:px-0 lg:py-0 flex justify-between items-center gap-x-2 lg:border-none border-b border-default-200"
    >
      <a class="focus:outline-hidden focus:opacity-80" [routerLink]="[]" aria-label="Brand">
        <h3 class="text-xl font-semibold text-default-900 lg:hidden block">Chat</h3>
      </a>

      <div class="lg:hidden -me-2">
        <button type="button" class="" data-hs-overlay="#accountSidebar">
          <iconify-icon icon="lucide:x" class="size-5"></iconify-icon>
          <span class="sr-only">Close</span>
        </button>
      </div>
    </header>

    <nav
      class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full"
    >
      <div class="w-full flex flex-col flex-wrap px-6 lg:px-0 pb-4 lg:pb-0 pt-6">
        <div
          class="lg:ms-6 lg:bg-default-100 flex flex-col justify-between dark:bg-white/3 h-145 rounded-xl"
        >
          <div class="lg:p-6">
            <div class="flex items-start gap-2 z-10">
              <div class="flex shrink-0 bg-primary rounded-full p-2 me-1">
                <iconify-icon icon="lucide:zap" class="text-base text-white"></iconify-icon>
              </div>

              <div
                class="w-full border border-border lg:bg-body-bg bg-default-100 rounded-md overflow-hidden py-2 px-4"
              >
                <div class="z-10 text-sm py-1">
                  Hello!<br />
                  I'm your virtual assistant from the Help Center, ready to assist you in finding
                  the information and resources you're looking for.<br />
                  How can I help?
                </div>
              </div>
            </div>
          </div>

          <div class="lg:p-6 mt-auto">
            <div class="relative">
              <textarea
                class="w-full rounded-lg border border-default-300 bg-default-100 lg:bg-white px-4 py-3 text-base focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-primary-500"
                rows="1"
                placeholder="Ask assistant anything..."
                required
              ></textarea>

              <button
                type="submit"
                aria-label="Submit your message"
                class="absolute top-0 end-0 mt-1 me-1 flex items-center size-10 justify-center rounded-md border-0 bg-transparent text-xl text-default-600 hover:text-default-800 hover:bg-default-100 dark:hover:bg-white/3 focus:outline-none transition-all duration-300"
              >
                <iconify-icon icon="lucide:circle-arrow-right"></iconify-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
