<section class="bg-default-100 dark:bg-white/3 lg:py-28 md:py-18 py-12">
    <div class="container">
        <h2 class="text-center lg:text-4.5xl md:text-3.5xl text-2.5xl font-semibold text-default-900 lg:mb-10 md:mb-6 mb-4">Our partners</h2>

        <div class="swiper">
            <swiper-container class="swiper-wrapper mb-10 lg:mb-0" [config]="swiperConfig" init="false">
                @for (item of partnerLogoData; track $index) {

                <swiper-slide>
                    <div class="flex justify-center">
                        <a class="text-secondary" [routerLink]="[]" aria-label="Partner">
                            <div [innerHTML]="getSafeSvg(item.svg)"></div>
                        </a>
                    </div>
                </swiper-slide>

                }

            </swiper-container>
            <!-- Pagination (Bullets) -->
            <div id="partners-pagination" class="swiper-pagination static mt-sm-2"></div>
        </div>
    </div>
</section>