<section class="lg:py-12 md:py-8 pb-8 my-4">
    <div class="container">
        <div class="flex md:items-center items-baseline-last justify-between gap-4 text-nowrap mb-8 md:flex-nowrap flex-wrap">
            <div class="md:flex items-center md:gap-12 gap-4 md:flex-nowrap flex-wrap">
                <h2 class="lg:text-3.5xl md:text-2.5xl text-2xl font-semibold text-default-900 md:mb-0 mb-6">Popular Near You</h2>
                <div class="overflow-x-auto lg:w-full md:w-xs w-58 md:pb-0 pb-4">
                    <ul class="flex gap-2">
                        <li>
                            <a [routerLink]="[]" class="border border-dark bg-default-50 inline-flex rounded-full dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">All</a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Theater & Cinema</a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Sports</a>
                        </li>

                        <li>
                            <a [routerLink]="[]" class="border border-default-300 inline-flex dark:border-white/20 transition-all duration-300 hover:border-dark rounded-full hover:dark:border-white text-default-900 py-2.5 px-5 text-sm font-medium">Convert</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="inline-flex items-center gap-2">
                <a [routerLink]="[]" class="hover:underline flex items-center text-nowrap me-1 font-semibold">View all
                    <iconify-icon icon="lucide:chevron-right" class="text-lg"></iconify-icon>
                </a>
            </div>
        </div>

        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">

            @if (featuredEvent; as item;) {
            <div class="!h-full">
                <a [routerLink]="item.link" class="group">
                    <div class="bg-default-100 dark:bg-white/3 rounded-md group lg:block md:flex block justify-between">

                        <div class="lg:order-1 order-2 rounded-md lg:w-full lg:h-full md:h-60.5 md:w-76.5 overflow-hidden relative">

                            <img [src]="item.image" [alt]="item.title" class="lg:w-full lg:h-full md:h-60.5 md:w-76.5 object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-md">

                            <div class="absolute top-0 end-0 z-10 opacity-0 group-hover:opacity-100 transition pt-2 pe-2 mt-2 me-2">
                                <button type="button" class="size-8 bg-white text-default-700 rounded-full shadow flex items-center justify-center">
                                    <iconify-icon icon="lucide:heart"></iconify-icon>
                                </button>
                            </div>
                        </div>

                        <div class="lg:order-2 order-1">
                            <div class="md:p-6 p-4">

                                <ul class="flex flex-wrap items-center text-sm mb-3 gap-2">
                                    <li class="flex items-center">
                                        <iconify-icon icon="lucide:calendar" class="me-1"></iconify-icon>
                                        {{ item.date }}
                                    </li>

                                    <li>{{ item.time }}</li>

                                    <li class="flex mx-n1">
                                        <iconify-icon icon="lucide:dot" class="text-base"></iconify-icon>
                                    </li>

                                    <li>{{ item.category }}</li>
                                </ul>

                                <h3 class="text-xl font-semibold text-default-900 mb-3 pt-1">
                                    <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" [routerLink]="item.link">
                                        {{ item.title }}
                                    </a>
                                </h3>

                                <div class="flex items-center text-sm lg:mb-6">
                                    <iconify-icon icon="lucide:map-pin" class="me-1"></iconify-icon>
                                    {{ item.location }}
                                </div>
                            </div>

                            <div class="md:p-6 p-4 pt-0 flex items-center justify-between">
                                <div class="text-info text-xl font-semibold">{{ item.price }}</div>

                                <button type="button" class="rounded-md border border-default-900 dark:border-white text-default-900 dark:text-white py-2.5 px-5 text-sm font-semibold inline-flex relative z-2 ms-auto transition-all duration-300 ease-in-out hover:bg-default-900 hover:text-white">
                                    Book now
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            }

            <!-- Side Events -->
            <div>

                @for (item of sideEvents; track $index) {
                <div class="group" [class.mb-6]="$index !== sideEvents.length - 1">

                    <div class="bg-default-100 dark:bg-white/3 rounded-md gap-10 md:flex block justify-between">

                        <div>
                            <div class="md:p-6 p-4">

                                <ul class="flex flex-wrap items-center text-sm mb-3" [class]="item.className">
                                    <li class="flex items-center">
                                        <iconify-icon icon="lucide:calendar" class="me-1"></iconify-icon>
                                        {{ item.date }}
                                    </li>

                                    <li>{{ item.time }}</li>

                                    <li class="flex mx-n1">
                                        <iconify-icon icon="lucide:dot" class="text-base"></iconify-icon>
                                    </li>

                                    <li>{{ item.category }}</li>
                                </ul>

                                <h3 class="text-xl font-semibold text-default-900 mb-3 pt-1">
                                    <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" [routerLink]="item.link">
                                        {{ item.title }}
                                    </a>
                                </h3>

                                <div class="flex items-center text-sm">
                                    <iconify-icon icon="lucide:map-pin" class="me-1"></iconify-icon>
                                    {{ item.location }}
                                </div>
                            </div>

                            <div class="md:p-6 p-4 pt-0 flex items-center justify-between">
                                <div class="text-info text-xl font-semibold">{{ item.price }}</div>

                                <button type="button" class="rounded-md border border-default-900 dark:border-white text-default-900 dark:text-white py-2.5 px-5 text-sm font-semibold inline-flex relative z-2 ms-auto transition-all duration-300 ease-in-out hover:bg-default-900 hover:text-white">
                                    Book now
                                </button>
                            </div>
                        </div>

                        <div>
                            <div class="rounded-md md:h-60.5 md:w-76.5 overflow-hidden relative">

                                <img [src]="item.image" [alt]="item.title" class="md:h-60.5 md:w-76.5 object-cover transition-transform duration-500 group-hover:scale-110 z-0 rounded-md">

                                <div class="absolute top-0 end-0 z-10 opacity-0 group-hover:opacity-100 transition pt-2 pe-2 mt-2 me-2">
                                    <button type="button" class="size-8 bg-white text-default-700 rounded-full shadow flex items-center justify-center">
                                        <iconify-icon icon="lucide:heart"></iconify-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</section>