<section class="lg:py-12 md:pt-6 pt-2 pb-12 lg:my-4">
        <div class="container">
            <div class="lg:mb-12 md:mb-6 bg-info rounded-md grid md:grid-cols-2 grid-cols-1 gap-6">
                <div class="lg:py-6 md:px-3 md:py-2">
                    <div class="md:p-12 py-12 px-6 lg:ms-6">
                        <h2 class="text-white mb-6 lg:text-3.5xl md:text-2.5xl text-2xl font-semibold md:text-start text-center">Are you a doctor looking for support?</h2>
                        <div class="flex md:justify-start justify-center">
                            <a [routerLink]="[]" class="py-3 px-6 text-body-bg rounded-md border border-body-bg font-semibold inline-flex transition-all duration-300 ease-in-out hover:bg-body-bg hover:text-default-900">
                                See docter help
                            </a>
                        </div>
                    </div>
                </div>

                <div class="rounded-tr-md rounded-br-md overflow-hidden md:block hidden">
                    <img src="assets/img/help/v3/cta.jpg" class="size-full object-cover" alt="Image">
                </div>
            </div>
        </div>
    </section>