<section class="md:mt-20 mt-15">
  <div class="grid lg:grid-cols-2 grid-cols-1">
   
    <div class="lg:block hidden">
      <div class="map-section sticky top-[82px] h-[calc(100vh-82px)]">
        <div class="flex flex-col w-full h-full">
          <div
            id="real-estate-map"
            class="absolute top-0 start-0 w-full h-full bg-body-tertiary"
          ></div>
        </div>
      </div>
    </div>

    <!-- Listings with filters -->
    <div class="lg:ps-6 lg:pe-6 px-4">
      
     <real-estate-listings-property-filter />

      <real-estate-listings-property-card />
     

      <nav class="flex items-center gap-x-1 mt-8 justify-center" aria-label="Pagination">
        <div class="flex items-center gap-x-1">
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center bg-default-200 text-default-800 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-300 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-600 dark:text-white dark:focus:bg-neutral-500"
            aria-current="page"
          >
            1
          </button>

          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center text-default-800 hover:bg-default-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
          >
            2
          </button>

          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center text-default-800 hover:bg-default-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
          >
            3
          </button>

          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center text-default-800 hover:bg-default-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
          >
            4
          </button>

          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center text-default-800 hover:bg-default-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
          >
            5
          </button>

          <div class="hs-tooltip inline-block">
            <button
              type="button"
              class="hs-tooltip-toggle group min-h-9.5 min-w-9.5 flex justify-center items-center text-default-400 hover:text-blue-600 p-2 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:bg-white/10"
            >
              <iconify-icon icon="lucide:ellipsis" class="text-lg"></iconify-icon>
            </button>
          </div>
          <button
            type="button"
            class="min-h-9.5 min-w-9.5 flex justify-center items-center text-default-800 hover:bg-default-100 py-2 px-3 text-sm rounded-lg focus:outline-hidden focus:bg-default-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
          >
            16
          </button>
        </div>
      </nav>

       <real-estate-listings-footer />

      
    </div>
  </div>
</section>
