<p class="mb-6">
  Your current email address is <span class="font-medium text-primary">m.williams@example.com</span>
</p>

<div class="grid md:grid-cols-2 grid-cols-1 mb-6">
  <div>
    <label class="block text-default-900 font-semibold mb-2">Current password</label>
    <div class="relative">
      <input
        type="password"
        id="current-password"
        class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75"
      />
      <button
        type="button"
        data-hs-toggle-password='{
            "target": "#current-password"
        }'
        class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer"
      >
        <iconify-icon
          icon="lucide:eye"
          class="size-4 hs-password-active:hidden block"
        ></iconify-icon>
        <iconify-icon
          icon="lucide:eye-off"
          class="size-4 hs-password-active:block hidden"
        ></iconify-icon>
      </button>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 grid-cols-1 gap-6 mb-6">
  <div>
    <label class="block text-default-900 font-semibold mb-2"
      >New password <span class="text-secondary font-normal text-sm">(Min 8 chars)</span>
    </label>
    <div class="relative">
      <input
        type="password"
        id="new-password"
        class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75"
      />
      <button
        type="button"
        data-hs-toggle-password='{
                                                    "target": "#new-password"
                                                        }'
        class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer"
      >
        <iconify-icon
          icon="lucide:eye"
          class="size-4 hs-password-active:hidden block"
        ></iconify-icon>
        <iconify-icon
          icon="lucide:eye-off"
          class="size-4 hs-password-active:block hidden"
        ></iconify-icon>
      </button>
    </div>
  </div>

  <div>
    <label class="block text-default-900 font-semibold mb-2">Confirm new password</label>
    <div class="relative">
      <input
        type="password"
        id="confirm-password"
        class="w-full rounded-lg border border-default-300 dark:border-white/20 bg-transparent px-4.5 py-2.75"
      />
      <button
        type="button"
        data-hs-toggle-password='{
                                                    "target": "#confirm-password"
                                                    }'
        class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer"
      >
        <iconify-icon
          icon="lucide:eye"
          class="size-4 hs-password-active:hidden block"
        ></iconify-icon>
        <iconify-icon
          icon="lucide:eye-off"
          class="size-4 hs-password-active:block hidden"
        ></iconify-icon>
      </button>
    </div>
  </div>
</div>

<div class="flex gap-4">
  <a
    class="rounded-md bg-default-100 hover:bg-default-200 text-default-900 py-3.5 px-6 font-semibold transition-all duration-300"
    routerLink="/account/profile"
    >Cancel</a
  >
  <button
    type="submit"
    class="py-3.5 px-6 rounded-md bg-default-800 text-body-bg hover:bg-default-900 font-semibold transition-all duration-300"
  >
    Update password
  </button>
</div>

<div>
  <h3 class="lg:mt-4 pt-12 mb-6 lg:text-2xl text-xl font-semibold text-default-900">
    Device history
  </h3>

  <div class="grid md:grid-cols-3 grid-cols-1 mb-6 gap-6">
    <div class="border relative border-border rounded-md">
      <div class="mt-2 me-2 top-0 end-0 absolute">
        <div class="hs-dropdown relative inline-flex">
          <button
            type="button"
            class="hs-dropdown-toggle inline-flex items-center justify-center rounded-md size-10 text-default-600 focus:outline-hidden dark:text-white"
            aria-haspopup="menu"
            aria-expanded="false"
            aria-label="Share"
          >
            <iconify-icon icon="lucide:more-vertical" class="text-xl"></iconify-icon>
          </button>

          <div
            class="hs-dropdown-menu hidden transition-[opacity,margin] duration opacity-0 hs-dropdown-open:opacity-100 absolute z-20 min-w-40 bg-white shadow-custom rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700"
            role="menu"
            aria-orientation="vertical"
          >
            <div class="p-2 space-y-0.5">
              <a
                [routerLink]="[]"
                class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700"
              >
                <lucide-icon name="log-out" class="size-4"></lucide-icon>
                Sign out
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-6 px-6 pb-2">
        <lucide-icon name="laptop" class="size-9 text-secondary pb-1 mb-2"></lucide-icon>
        <h6 class="text-default-900 font-semibold">Mac - New York, USA</h6>
      </div>

      <div class="pb-6 px-6 flex gap-2 items-center">
        <span class="text-sm text-secondary">Chrome</span>
        <div
          class="bg-success/10 ms-2 text-success text-xs inline-flex item-center font-medium px-2 py-0.5 rounded items-center"
        >
          Active now
        </div>
      </div>
    </div>

    <div class="border relative border-border rounded-md">
      <div class="mt-2 me-2 top-0 end-0 absolute">
        <div class="hs-dropdown relative inline-flex">
          <button
            type="button"
            class="hs-dropdown-toggle inline-flex items-center justify-center rounded-md size-10 text-default-600 focus:outline-hidden dark:text-white"
            aria-haspopup="menu"
            aria-expanded="false"
            aria-label="Share"
          >
            <iconify-icon icon="lucide:more-vertical" class="text-xl"></iconify-icon>
          </button>

          <div
            class="hs-dropdown-menu hidden transition-[opacity,margin] duration opacity-0 hs-dropdown-open:opacity-100 absolute z-20 min-w-40 bg-white shadow-custom rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700"
            role="menu"
            aria-orientation="vertical"
          >
            <div class="p-2 space-y-0.5">
              <a
                [routerLink]="[]"
                class="flex items-center gap-x-2 py-2 px-3 rounded-lg text-sm text-default-800 hover:bg-default-100 focus:outline-hidden focus:bg-default-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700"
              >
                <lucide-icon name="log-out" class="size-4"></lucide-icon>
                Sign out
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-6 px-6 pb-2">
        <lucide-icon name="smartphone" class="size-9 text-secondary pb-1 mb-2"></lucide-icon>
        <h6 class="text-default-900 font-semibold">iPhone 15 - New York, USA</h6>
      </div>

      <div class="pb-6 px-6 flex gap-2 items-center">
        <span class="text-sm text-secondary">Finder App</span>
        <lucide-icon
          name="circle-small"
          class="fill-default-900 text-default-900 size-2"
        ></lucide-icon>
        <span class="text-sm text-secondary">20 hours ago</span>
      </div>
    </div>
  </div>

  <div>
    <a
      class="text-default-900 font-semibold text-sm py-2 inline-flex items-center"
      [routerLink]="[]"
    >
      <lucide-icon name="log-out" class="size-4 me-2"></lucide-icon>
      <span class="hover:underline">Sign out of all sessions</span>
    </a>
  </div>
</div>

<div>
  <h3 class="lg:mt-4 pt-12 mb-6 lg:text-2xl text-xl font-semibold text-default-900">
    Delete account
  </h3>
  <p class="text-sm mb-6">
    When you delete your account, your public profile will be deactivated immediately. If you change
    your mind before the 14 days are up, sign in with your email and password, and we'll send a link
    to reactivate account.
  </p>
  <label
    for="confirm-deletion"
    class="flex mb-6 items-center text-default-700 text-sm cursor-pointer checked:text-default-800"
  >
    <input
      type="checkbox"
      id="confirm-deletion"
      class="w-4 h-4 checked:text-dark border-default-300 dark:border-white/20 rounded me-2"
    />
    Yes, I want to delete my account
  </label>

  <button
    type="button"
    class="py-3.5 px-6 text-primary border border-danger bg-transparent hover:bg-primary-hover hover:text-white rounded-md font-semibold transition-all duration-300"
  >
    Delete account
  </button>
</div>
