<h2 class="pt-12 md:pb-4 pb-2 lg:my-4 mb-4 lg:text-2.5xl md:text-2xl text-xl text-default-900 font-semibold">
  Account settings
</h2>

<div class="grid md:grid-cols-2 grid-cols-1 gap-6">
  @for (item of helpSupportCardData; track $index) {
    <div class="group">
      <a [routerLink]="item.link">
        <div class="md:p-8 p-6 bg-orange-50 dark:bg-primary-bg-subtle rounded-md !h-full">
          <h3
            class="mb-4 relative inline-block text-xl text-default-900 font-semibold after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-100"
          >
            {{ item.title }}
          </h3>

          <p>
            {{ item.description }}
          </p>
        </div>
      </a>
    </div>
  }
</div>
