<div class="container">
    <div class="flex items-start justify-between gap-4 pb-6 mb-4">
        <h2 class="text-center lg:text-4.5xl md:text-3.5xl text-2.5xl font-semibold text-default-900">Also read</h2>

        <div class="flex gap-2">
            <button type="button" class="size-10 flex items-center border border-default-300 dark:border-white/20 bg-body-bg rounded-full justify-center me-1" id="prev" aria-label="Prev">
                <iconify-icon icon="lucide:chevron-left" class="size-4.5"></iconify-icon>
            </button>

            <button type="button" class="size-10 flex items-center justify-center border border-default-300 bg-body-bg dark:border-white/20 rounded-full" id="next" aria-label="Next">
                <iconify-icon icon="lucide:chevron-right" class="size-4.5"></iconify-icon>
            </button>
        </div>
    </div>

    <div class="swiper pb-5">
        <swiper-container [config]="swiperConfig" init="false">
            @for (post of blogpostData; track $index) {
            <swiper-slide>
                <a [routerLink]="post.blogLink" class="group">
                    <div class="rounded-md overflow-hidden mb-6">
                        <img [src]="post.image" alt="Category image" class="w-full h-full object-cover transition-transform duration-500 rounded-md group-hover:scale-110 z-0">
                    </div>

                    <div class="mb-3">
                        <a class="text-secondary text-xs uppercase" [routerLink]="[]">
                            {{ post.category }}
                        </a>
                    </div>

                    <h3 class="text-default-900 font-semibold text-xl mb-2">
                        <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" [routerLink]="post.blogLink">
                            {{ post.title }}
                        </a>
                    </h3>

                    <p class="text-sm mb-4">
                        {{ post.description }}
                    </p>

                    <div class="text-sm gap-3">
                        <a class="font-semibold" [routerLink]="[]">
                            by {{ post.author }}
                        </a>

                        <span class="text-secondary">
                            {{ post.date }}
                        </span>
                    </div>
                </a>
            </swiper-slide>
            }
        </swiper-container>
    </div>
</div>