<section class="bg-default-100 dark:bg-white/3">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-6 lg:items-center items-end">
            <div class="lg:col-span-5 md:col-span-6 col-span-1 md:py-12 pt-12 md:text-start text-center">
                <h2 class="mb-4 text-default-900 font-semibold lg:text-4.5xl md:text-3.5xl text-2xl">Mobile Friendly Interface. <span class="text-primary">PWA ready</span></h2>
                <p class="text-lg mb-6">Finder ensures seamless interactions across all devices. With progressive web app (PWA) compatibility, users can enjoy the app-like experiences on their mobile browsers.</p>
                <p class="text-sm font-medium text-default-900 mb-6">Scan QR code below to test on your device:</p>
                <img src="assets/img/intro/qr-light.png" class="dark:hidden md:mx-0 mx-auto" width="120" alt="QR code">
                <img src="assets/img/intro/qr-dark.png" class="hidden dark:block md:mx-0 mx-auto" width="120" alt="QR code">
            </div>

            <div class="lg:col-span-7 md:col-span-6 col-span-1">
                <img src="assets/img/intro/mobile-light.png" class="dark:hidden" alt="Mobile PWA">
                <img src="assets/img/intro/mobile-dark.png" class="hidden dark:block" alt="Mobile PWA">
            </div>
        </div>
    </div>
</section>