<section class="lg:py-24 md:py-18 py-14 ">
    <div class="container">
        <div class="flex items-center justify-between md:mb-12 mb-6">
            <h2 class="lg:text-3.5xl md:text-2.5xl text-2xl text-default-900 font-semibold">Best of Barcelona</h2>
            <div class="inline-flex items-center gap-2">
                <a routerLink="/listings-events" class="hover:underline flex items-center py-2 font-semibold">View all
                    <i data-lucide="chevron-right" class="size-4.5 ms-1"></i>
                </a>
            </div>
        </div>

        <div class="py-8">
            <div class="relative">
                <div class="relative grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-6">
                    <div class="lg:col-span-4 col-span-1">
                        <div class="bg-default-100 dark:bg-white/3 lg:p-8 p-4 rounded-md">
                            <h3 class="pb-2 text-xl text-default-900 font-semibold">Top restaurants</h3>
                            <hr class="lg:my-6 my-4 text-default-300 dark:text-white/20">

                            <div class="group mb-8">
                                <a routerLink="/single-entry-city-guide">
                                    <div class="flex gap-4">
                                        <div class="bg-body-bg rounded-md py-4 px-6">
                                            <div class="rounded-md w-16 overflow-hidden relative">
                                                <img src="assets/img/home/city-guide/restaurants/03-light.png" alt="Image" class="w-64 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md block dark:hidden">
                                                <img src="assets/img/home/city-guide/restaurants/03-dark.png" alt="Image" class="w-64 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md hidden dark:block">
                                            </div>
                                        </div>

                                        <div class="pt-1">
                                            <h3 class="text-base font-semibold mb-1">
                                                <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">Sbarro</a>
                                            </h3>

                                            <div class="flex items-center gap-1 mb-2">
                                                <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                                <span class="text-sm">4.8</span>
                                                <span class="text-xs text-secondary self-end">(127)</span>
                                            </div>

                                            <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                                <li class="flex items-center gap-1 me-2">
                                                    <i data-lucide="credit-card" class="size-3.5"></i>
                                                    $60
                                                </li>
                                                <li class="flex items-center gap-1">
                                                    <i data-lucide="map-pin" class="size-3.5"></i>
                                                    <span class="truncate w-25 lg:w-full">5.7 km from center</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="group mb-8">
                                <a routerLink="/single-entry-city-guide">
                                    <div class="flex gap-4">
                                        <div class="bg-body-bg rounded-md py-4 px-6">
                                            <div class="rounded-md w-16 overflow-hidden relative">
                                                <img src="assets/img/home/city-guide/restaurants/01.png" alt="Image" class="w-64 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md">
                                            </div>
                                        </div>

                                        <div class="pt-1">
                                            <h3 class="text-base font-semibold mb-1">
                                                <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">Mado</a>
                                            </h3>

                                            <div class="flex items-center gap-1 mb-2">
                                                <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                                <span class="text-sm">4.7</span>
                                                <span class="text-xs text-secondary self-end">(113)</span>
                                            </div>

                                            <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                                <li class="flex items-center gap-1 me-2">
                                                    <i data-lucide="credit-card" class="size-3.5"></i>
                                                    $50
                                                </li>
                                                <li class="flex items-center gap-1">
                                                    <i data-lucide="map-pin" class="size-3.5"></i>
                                                    <span class="truncate w-25 lg:w-full">2.5 km from center</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="group">
                                <a routerLink="/single-entry-city-guide">
                                    <div class="flex gap-4">
                                        <div class="bg-body-bg rounded-md py-4 px-6">
                                            <div class="rounded-md w-16 overflow-hidden relative">
                                                <img src="assets/img/home/city-guide/restaurants/08.png" alt="Image" class="w-64 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md">
                                            </div>
                                        </div>

                                        <div class="pt-1">
                                            <h3 class="text-base font-semibold mb-1">
                                                <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">TacoTime</a>
                                            </h3>

                                            <div class="flex items-center gap-1 mb-2">
                                                <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                                <span class="text-sm">4.6</span>
                                                <span class="text-xs text-secondary self-end">(179)</span>
                                            </div>

                                            <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                                <li class="flex items-center gap-1 me-2">
                                                    <i data-lucide="credit-card" class="size-3.5"></i>
                                                    $25
                                                </li>
                                                <li class="flex items-center gap-1">
                                                    <i data-lucide="map-pin" class="size-3.5"></i>
                                                    <span class="truncate w-25 lg:w-full">4.8 km from center</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-8 col-span-1 bg-default-100 dark:bg-white/3 lg:p-8 p-4 rounded-md relative">
                        <h3 class="pb-2 text-xl text-default-900 font-semibold">Places to visit</h3>
                        <hr class="lg:my-6 my-4 text-default-300 dark:text-white/20">

                        <div class="group mb-8">
                            <a routerLink="/single-entry-city-guide">
                                <div class="flex gap-4">
                                    <div class="rounded-md w-28 overflow-hidden relative">
                                        <img src="assets/img/home/city-guide/places/01.jpg" alt="Image" class="w-28 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md">
                                    </div>

                                    <div class="pt-1">
                                        <h3 class="text-base font-semibold mb-1">
                                            <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">Sagrada Familia</a>
                                        </h3>

                                        <div class="flex items-center gap-1 mb-2">
                                            <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                            <span class="text-sm">4.8</span>
                                            <span class="text-xs text-secondary self-end">(12694)</span>
                                        </div>

                                        <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                            <li class="flex items-center gap-1 me-2">
                                                <i data-lucide="credit-card" class="size-3.5"></i>
                                                $30
                                            </li>
                                            <li class="flex items-center gap-1">
                                                <i data-lucide="map-pin" class="size-3.5"></i>
                                                <span class="truncate w-25 lg:w-full">0.5 km from center</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="group mb-8">
                            <a routerLink="/single-entry-city-guide">
                                <div class="flex gap-4">
                                    <div class="rounded-md w-28 overflow-hidden relative">
                                        <img src="assets/img/home/city-guide/places/02.jpg" alt="Image" class="w-28 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md">
                                    </div>

                                    <div class="pt-1">
                                        <h3 class="text-base font-semibold mb-1">
                                            <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">Park Güell</a>
                                        </h3>

                                        <div class="flex items-center gap-1 mb-2">
                                            <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                            <span class="text-sm">4.9</span>
                                            <span class="text-xs text-secondary self-end">(113)</span>
                                        </div>

                                        <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                            <li class="flex items-center gap-1 me-2">
                                                <i data-lucide="credit-card" class="size-3.5"></i>
                                                $15
                                            </li>
                                            <li class="flex items-center gap-1">
                                                <i data-lucide="map-pin" class="size-3.5"></i>
                                                <span class="truncate w-25 lg:w-full">0.7 km from center</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="group">
                            <a routerLink="/single-entry-city-guide">
                                <div class="flex gap-4">
                                    <div class="rounded-md w-28 overflow-hidden relative">
                                        <img src="assets/img/home/city-guide/places/03.jpg" alt="Image" class="w-28 object-cover overflow-hidden transition-transform duration-500 group-hover:scale-105 z-0 rounded-md">
                                    </div>

                                    <div class="pt-1">
                                        <h3 class="text-base font-semibold mb-1">
                                            <a class="relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300" routerLink="/single-entry-city-guide">Camp Nou Tour</a>
                                        </h3>

                                        <div class="flex items-center gap-1 mb-2">
                                            <i data-lucide="star" class="fill-warning text-warning size-4"></i>
                                            <span class="text-sm">4.7</span>
                                            <span class="text-xs text-secondary self-end">(6149)</span>
                                        </div>

                                        <ul class="flex-nowrap flex gap-2 text-sm mb-0">
                                            <li class="flex items-center gap-1 me-2">
                                                <i data-lucide="credit-card" class="size-3.5"></i>
                                                $40
                                            </li>
                                            <li class="flex items-center gap-1">
                                                <i data-lucide="map-pin" class="size-3.5"></i>
                                                <span class="w-25 lg:w-full truncate">5.2 km from center</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="absolute end-0 bottom-0 z-10 hidden lg:block ps-5 xl:ps-0 -me-5 xl:-me-4 2xl:me-3 w-97">
                            <span class="absolute bg-primary/20 rounded-full hidden xl:block top-41.25 end-67.5 w-18 h-18"></span>
                            <span class="absolute rounded-full bg-emerald-100 dark:bg-default-200 hidden xl:block top-37.5 end-86.5 w-6.25 h-6.25"></span>
                            <img src="assets/img/home/city-guide/places/photographer.png" class="relative z-10 ps-5 xl:ps-0 ms-3 xl:ms-0" width="388" alt="Photographer">
                        </div>
                    </div>
                </div>

                <div class="absolute top-0 h-[calc(100%+64px)] w-[calc(100%)] -z-10 -mt-8">
                    <div class="relative h-full mx-8">
                        <div class="absolute top-0 start-0 w-full h-full border border-default-300 dark:border-white/20 rounded"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>