  <section class="lg:py-12 md:pt-6 pt-4 pb-12 lg:my-4">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 gap-6">
                <div class="lg:col-span-8 md:col-span-7 col-span-1 group cursor-pointer">
                    <div class="w-full h-full overflow-hidden relative rounded-md">
                        <img src="assets/img/about/v1/feature01.jpg" alt="Image" class="w-full md:h-full h-74 object-cover transition-transform duration-500 group-hover:scale-110 z-0" />

                        <span class="absolute inset-0 bg-gradient-to-t from-neutral-800/75 via-neutral-800/20 "></span>

                        <div class="absolute inset-0 flex items-end lg:p-8 p-6">
                            <div class="flex flex-col md:flex-row md:items-end justify-between lg:gap-12 gap-8">
                                <div>
                                    <h3 class="text-white lg:text-2.5xl text-2xl font-semibold mb-2 pb-1">
                                        <a [routerLink]="[]" class="relative text-white font-semibold after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-100">Connect with potential clients</a>
                                    </h3>
                                    <p class="text-white/90">
                                        Respond promptly to inquiries and schedule viewings to turn leads into satisfied customers.
                                    </p>
                                </div>

                                <div>
                                    <a href="https://www.youtube.com/watch?v=Y39P5BQElNY" class="dark w-auto inline-flex text-nowrap text-sm items-center px-5 py-2.5 rounded-full bg-white text-default-100 font-medium shadow hover:bg-white/95 transition" appGlightbox>
                                        <iconify-icon icon="lucide:play" class="text-base me-1"></iconify-icon>
                                        Watch video
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-4 md:col-span-5 col-span-1 group cursor-pointer">
                    <div class="w-full h-full overflow-hidden relative rounded-md">
                        <img src="assets/img/about/v1/feature02.jpg" alt="Image" class="w-full md:h-full h-74 object-cover transition-transform duration-500 group-hover:scale-110 z-0" />
                        <span class="absolute inset-0 bg-gradient-to-t from-neutral-800/75 via-neutral-800/20 "></span>
                        <div class="absolute inset-0 flex items-end lg:p-8 p-6">
                            <div>
                                <h3 class="text-white lg:text-2.5xl text-2xl font-semibold mb-2 pb-1">
                                    <a [routerLink]="[]" class="relative text-white font-semibold after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-100">Monitor engagement</a>
                                </h3>
                                <p class="text-white/90">
                                    Track and inquiries to see which properties attract the most interest.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>