<section class="lg:py-12 pt-6 pb-12 mt-6">
  <div class="container">
    <div class="grid lg:grid-cols-12 grid-cols-1 gap-6">
      <div class="lg:col-span-8 col-span-1">
        <ol class="flex flex-wrap items-center whitespace-nowrap pb-2 mb-4">
          <li class="inline-flex items-center">
            <a
              class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden"
              routerLink="/help/topics/v3"
            >
              Help center
            </a>
            <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
          </li>

          <li class="inline-flex items-center">
            <a
              class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden"
              href="#!"
            >
              Search and navigation
            </a>
            <iconify-icon icon="lucide:chevron-right" class="mx-2"></iconify-icon>
          </li>

          <li
            class="inline-flex items-center text-sm font-medium text-default-500/80 truncate"
            aria-current="page"
          >
            Single article v.3
          </li>
        </ol>

        <h1 class="text-default-900 font-semibold lg:text-3.5xl md:text-2.5xl text-2xl mb-12">
          How to use the search to find a doctor
        </h1>

        <p class="mb-4">
          Finding the right doctor is essential for maintaining good health, and our search tool is
          designed to make this process easy and efficient. Start by accessing the search bar on our
          homepage or within our mobile app. Enter relevant keywords that describe the type of
          doctor you need, such as the specialty (e.g., "Cardiologist," "Pediatrician"), condition
          (e.g., "Diabetes," "Allergies"), procedure (e.g., "Physical exam," "Surgery"), and your
          location to narrow down the results.
        </p>

        <p class="mb-4">
          After entering your keywords, use the available filters to refine your search further.
          Filters can help you sort by distance, patient ratings, years of experience, insurance
          acceptance, and even the doctor's gender if you have a preference.
        </p>

        <p class="mb-4">
          Reviewing the profiles of doctors in your search results is crucial. Each profile
          typically includes a biography detailing the doctor's background and specialties, patient
          reviews, office hours and locations, and contact information. These details will help you
          make an informed decision about which doctor suits your needs.
        </p>

        <p class="mb-4">
          When you find a doctor that matches your criteria, you can make an appointment directly
          online if that option is available, or contact the office using the provided phone number
          or email. Be sure to prepare any necessary documents and medical history for your visit to
          ensure a productive appointment.
        </p>

        <div class="pt-6 mb-4">
          <div class="grid grid-cols-12 lg:gap-6 gap-4" id="lightgallery">
            <a
              appGlightbox
              href="assets/img/blog/v4/single/gallery/th01.jpg"
              class="col-span-6 relative group block rounded-md overflow-hidden"
            >
              <img
                src="assets/img/blog/v4/single/gallery/th01.jpg"
                alt=""
                class="size-full bg-cover object-cover roundedtransition-transform duration-300 group-hover:scale-105"
              />
              <div
                class="absolute inset-0 flex justify-center items-center z-20 opacity-0 group-hover:opacity-100 transition duration-300"
              >
                <iconify-icon
                  icon="lucide:zoom-in"
                  class="text-white text-3xl relative z-30"
                ></iconify-icon>
                <div class="absolute inset-0 bg-black opacity-20 z-10"></div>
              </div>
            </a>

            <a
              appGlightbox
              href="assets/img/blog/v4/single/gallery/th02.jpg"
              class="col-span-6 relative group block rounded-md overflow-hidden"
            >
              <img
                src="assets/img/blog/v4/single/gallery/th02.jpg"
                alt=""
                class="size-full bg-cover object-cover roundedtransition-transform duration-300 group-hover:scale-105"
              />
              <div
                class="absolute inset-0 flex justify-center items-center z-20 opacity-0 group-hover:opacity-100 transition duration-300"
              >
                <iconify-icon
                  icon="lucide:zoom-in"
                  class="text-white text-3xl relative z-30"
                ></iconify-icon>
                <div class="absolute inset-0 bg-black opacity-20 z-10"></div>
              </div>
            </a>
          </div>
        </div>

        <h2 class="pt-6 mb-4 text-2xl font-semibold text-default-900">Additional tips</h2>
        <p class="mb-4">
          Using our search tool, finding the right doctor has never been easier. Follow these steps
          to ensure you find a healthcare provider that meets your needs and provides the care you
          deserve.
        </p>
        <ul class="flex flex-col gap-4 pb-6 mb-4">
          <li>
            <span class="text-default-900 font-semibold">Ask for recommendations:</span>
            If you're unsure where to start, ask friends, family, or your current healthcare
            provider for recommendations.
          </li>

          <li>
            <span class="text-default-900 font-semibold">Check credentials:</span>
            Verify the doctor's credentials and board certifications to ensure they are qualified.
          </li>

          <li>
            <span class="text-default-900 font-semibold">Consider Telehealth options:</span>
            If you have difficulty traveling, check if the doctor offers virtual appointments.
          </li>
        </ul>

        <div class="flex bg-info/10 mb-4 p-4 text-info border border-info/20 rounded" role="alert">
          <div>
            <iconify-icon icon="lucide:info" class="text-lg pe-1 mt-1 me-1"></iconify-icon>
          </div>
          <p class="text-sm">
            When you find a doctor that matches your criteria, you can make an appointment directly
            online if that option is available, or contact the office using the provided phone
            number or email.
          </p>
        </div>

        <p class="pt-6 mb-4">
          If you're unsure where to start, consider asking for recommendations from friends, family,
          or your current healthcare provider. Always check the doctor's credentials and board
          certifications to ensure they are qualified. For those with travel difficulties, explore
          telehealth options that the doctor might offer.
        </p>

        <p class="mb-4">
          Using our search tool simplifies the process of finding a healthcare provider, ensuring
          you receive the care you deserve efficiently and conveniently.
        </p>

        <div class="flex items-center text-sm text-secondary pt-6 pb-2">
          5 months ago
          <iconify-icon icon="lucide:dot" class="mx-1"></iconify-icon>
          Updated
        </div>

        <hr class="text-default-200 dark:text-white/20 my-6" />
        <div class="pt-2">
          <h4 class="text-default-900 font-semibold pb-1 mb-4">Was this information helpful?</h4>
          <div class="flex gap-4">
            <button
              type="button"
              class="py-2.5 px-5 border border-default-200 rounded-md text-default-800 transition-all duration-300 inline-flex items-center hover:border-default-900 dark:border-white/3 text-sm font-semibold"
            >
              <iconify-icon icon="lucide:thumbs-up" class="me-2"></iconify-icon>Yes
            </button>

            <button
              type="button"
              class="py-2.5 px-5 border border-default-200 rounded-md text-default-800 transition-all duration-300 inline-flex items-center hover:border-default-900 dark:border-white/3 text-sm font-semibold"
            >
              <iconify-icon icon="lucide:thumbs-down" class="me-2"></iconify-icon>No
            </button>
          </div>
        </div>
      </div>

      <div class="lg:col-span-4">
        <div class="lg:w-80.5 w-full ms-auto">
          <div class="lg:sticky lg:top-25">
            <div
              id="articlesSidebar"
              class="hs-overlay lg:static [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-auto hs-overlay-open:translate-x-0 translate-x-full transition-all duration-300 transform hidden fixed top-0 end-0 bottom-0 z-60 bg-body-bg lg:w-auto w-87"
              role="dialog"
              tabindex="-1"
              aria-label="Sidebar"
            >
              <div class="flex flex-col sticky top-0">
                <header
                  class="py-4 px-6 lg:px-0 lg:py-0 flex justify-between items-center gap-x-2 lg:border-none border-b border-default-200"
                >
                  <a
                    class="focus:outline-hidden focus:opacity-80"
                    [routerLink]="[]"
                    aria-label="Brand"
                  >
                    <h3 class="text-xl font-semibold text-default-900">Search and navigation</h3>
                  </a>

                  <div class="lg:hidden -me-2">
                    <button type="button" class="" data-hs-overlay="#articlesSidebar">
                      <iconify-icon icon="lucide:x" class="size-5"></iconify-icon>
                      <span class="sr-only">Close</span>
                    </button>
                  </div>
                </header>

                <nav
                  class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full"
                >
                  <div class="w-full flex flex-col flex-wrap px-6 lg:px-0 pb-4 lg:pb-0 pt-6">
                    <ul class="flex flex-col gap-4">
                      @for (item of helpArticleLinkData; track $index) {
                        <li>
                          <a
                            [routerLink]="item.articleLink"
                            class="flex items-center text-sm font-normal text-default-800 hover:text-default-900 transition-all duration-300 ease-in-out"
                          >
                            <iconify-icon icon="lucide:chevron-right" class="text-lg me-2">
                            </iconify-icon>

                            <span class="hover:underline transition-all duration-300 ease-in-out">
                              {{ item.title }}
                            </span>
                          </a>
                        </li>
                      }
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
