<div class="lg:sticky lg:top-25">
    <div id="bookAppointment" class="hs-overlay lg:static [--auto-close:lg] lg:block lg:translate-x-0 lg:end-auto lg:bottom-auto hs-overlay-open:translate-x-0 translate-x-full transition-all duration-300 transform  hidden fixed top-0 end-0 bottom-0 z-60 bg-body-bg lg:w-auto w-87" role="dialog" tabindex="-1" aria-label="Sidebar">
        <div class="flex flex-col sticky top-0">
            <header class="py-4 px-6 lg:px-0 lg:py-0 flex justify-between items-center gap-x-2">
                <a class="focus:outline-hidden focus:opacity-80" [routerLink]="[]" aria-label="Brand">
                    <h2 class="text-xl text-default-900 font-semibold lg:hidden block">Book an appointment</h2>
                </a>

                <div class="lg:hidden -me-2">
                    <button type="button" class="" data-hs-overlay="#bookAppointment">
                        <iconify-icon icon="lucide:x" class="size-5"></iconify-icon>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
            </header>

            <nav class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full">
                <div class="w-full flex flex-col flex-wrap px-6 lg:px-0 pb-4 lg:pb-0 lg:pt-0 pt-2">
                    <div class="lg:bg-body-bg rounded-md lg:p-6">
                        <div class="lg:p-2">
                            <h2 class="mb-6 text-xl font-semibold text-default-900 lg:block hidden">Book an appointment</h2>
                            <ul class="text-sm mb-6 space-y-1">
                                <li><span class="text-primary text-base font-semibold me-1">$75.00</span> Online consultation</li>
                                <li><span class="text-default-900 text-base font-semibold me-1">$90.00</span> Visiting the clinic</li>
                            </ul>

                            <div class="flex gap-6 mb-1 pb-2">
                                <label class="flex items-center gap-2 cursor-pointer mb-4">
                                    <input type="radio" name="visit-method-1" class="hidden peer" checked>
                                    <span class="w-11 h-6 rounded-full bg-default-300 peer-checked:bg-success relative after:content-[''] after:absolute after:top-0.75 after:start-0.75 after:w-4.5 after:h-4.5 after:bg-white after:rounded-full after:transition-all peer-checked:after:translate-x-5"></span>
                                    <span class="text-sm">Online</span>
                                </label>

                                <label class="flex items-center gap-2 cursor-pointer mb-4">
                                    <input type="radio" name="visit-method-1" class="hidden peer">
                                    <span class="w-11 h-6 rounded-full bg-default-300 peer-checked:bg-success relative after:content-[''] after:absolute after:top-0.75 after:start-0.75 after:w-4.5 after:h-4.5 after:bg-white after:rounded-full after:transition-all peer-checked:after:translate-x-5"></span>
                                    <span class="text-sm">Visit clinic</span>
                                </label>
                            </div>

                            <div class="flex mb-4 border rounded-md border-info">
                                <label class="flex-1">
                                    <input type="radio" name="visit-day-1" class="hidden peer">
                                    <span class="block text-center border-e border-info text-info py-2.5 px-2 text-sm peer-checked:bg-info peer-checked:text-white peer-checked:border-info">Mon, 11</span>
                                </label>

                                <label class="flex-1">
                                    <input type="radio" name="visit-day-1" class="hidden peer" checked>
                                    <span class="block text-center border-e border-info text-info py-2.5 px-2 text-sm peer-checked:bg-info peer-checked:text-white peer-checked:border-info">Tue, 12</span>
                                </label>

                                <label class="flex-1">
                                    <input type="radio" name="visit-day-1" class="hidden peer">
                                    <span class="block text-center border-e border-info text-info py-2.5 px-2 text-sm peer-checked:bg-info peer-checked:text-white peer-checked:border-info">Wed, 13</span>
                                </label>

                                <button class="block text-center text-info px-2 text-sm hover:bg-info hover:text-white rounded-br-md transition-all duration-300">
                                    <lucide-icon name="chevron-right" class="size-4.5"></lucide-icon>
                                </button>
                            </div>

                            <div class="grid grid-cols-4 gap-2 pt-4">

                                @for (slot of visitTimeSlotsData; track $index) {

                                <label>

                                    <input type="radio" name="visit-time-1" class="hidden peer" [checked]="slot.checked">

                                    <span class="block text-center border rounded-full py-2.5 px-2 font-semibold border-default-200 dark-border-white/20 text-sm peer-checked:border-default-900">

                                        {{ slot.time }}

                                    </span>

                                </label>

                                }

                            </div>

                            <div class="mt-6 w-full">
                                <button type="button" class="bg-primary rounded-md py-2.5 px-6 w-full flex justify-center items-center font-semibold transition text-white">
                                    <lucide-icon name="clock" class="size-3.5 me-2"></lucide-icon>
                                    Next appointment 12:30, Tue, 12
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>