<section class="pt-12 lg:mt-12 md:mt-6 mt-3">
    <div class="container">
        <div class="bg-info rounded-xl md:p-12 py-12 px-6">
            <div class="md:py-4 lg:my-4 text-center">
                <p class="text-xl text-white pb-2 mb-1">Still not convinced?</p>
                <h2 class="text-white mb-4 pb-4 lg:text-3.5xl text-2xl md:text-2.5xl">Add premium support and lifetime updates to this.</h2>

                <a class="py-3.5 px-6 text-white font-semibold inline-flex items-center rounded-md bg-primary transition-all duration-300 hover:bg-primary-hover" [routerLink]="[]" target="_blank" rel="noreferrer">
                    <iconify-icon icon="lucide:shopping-bag" class="text-base me-2"></iconify-icon>
                    Buy now
                </a>
            </div>
        </div>
    </div>
</section>