<section class="md:py-16 py-12 lg:mb-10">
    <div class="container">
        <div class="flex justify-between lg:mb-10 md:mb-8 mb-6">
            <h2 class="lg:text-4.5xl md:text-3.5xl text-2.5xl font-semibold text-default-900">Search by city</h2>
            <div class="flex gap-2">
                <button type="button" class="size-10 flex items-center border border-default-300 rounded-full justify-center animate-slide-start bg-body rounded-circle me-1" id="city-prev" aria-label="Prev">
                    <iconify-icon icon="lucide:chevron-left" height="18" width="18"></iconify-icon>
                </button>
                <button type="button" class="size-10 flex items-center justify-center border border-default-300 rounded-full animate-slide-end bg-body rounded-circle" id="city-next" aria-label="Next">
                    <iconify-icon icon="lucide:chevron-right" height="18" width="18"></iconify-icon>
                </button>
            </div>
        </div>

        <!-- Carousel -->
        <div class="swiper pb-5">
            <swiper-container class="mb-15" [config]="swiperConfig" init="false">

                @for (item of cityData; track $index) {
                <swiper-slide class="h-auto">
                    <a [routerLink]="item.link">
                        <div class="border border-default-300 group rounded-md">

                            <div class="rounded-tr-md rounded-tl-md overflow-hidden group">
                                <img [src]="item.image" [alt]="item.name" class="w-full h-full object-cover transition-transform duration-500 rounded-tr-md rounded-tl-md group-hover:scale-110 z-0">
                            </div>

                            <div class="p-4 text-center">
                                <a [routerLink]="item.link" class="text-xl text-default-900 text-center font-semibold relative after:absolute after:bottom-0 after:start-0 after:w-full after:opacity-0 group-hover:after:opacity-100 after:h-0.25 after:bg-current hover:after:w-full after:transition-all after:duration-300">
                                    {{ item.name }}
                                </a>
                            </div>

                            <div class="pb-4 px-4">
                                <div class="flex justify-between">

                                    <div class="pe-1 text-center w-1/2">
                                        <iconify-icon icon="lucide:zap" class="size-4 mb-1 text-default-500">
                                        </iconify-icon>

                                        <div class="text-sm">
                                            for sale
                                            <span class="font-semibold text-body-color">
                                                {{ item.sale }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="mx-2 block bg-default-200 h-auto w-0.25"></div>

                                    <div class="pe-1 text-center w-1/2">
                                        <iconify-icon icon="lucide:tag" class="size-4 mb-1 text-default-500">
                                        </iconify-icon>

                                        <div class="text-sm">
                                            for rent
                                            <span class="font-semibold text-body-color">
                                                {{ item.rent }}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </a>
                </swiper-slide>
                }
            </swiper-container>

            <!-- Pagination (Bullets) -->
            <div id="city-pagination" class="swiper-pagination static pt-lg-1 mt-3 mt-sm-4"></div>
        </div>
    </div>
</section>