<section class="lg:py-42 md:py-18 py-14 lg:mt-20 mt-15 bg-info dark relative overflow-hidden">
        <div class="container">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 items-center relative z-10">
                <div class="lg:col-span-2 col-span-1 lg:order-1 order-2 md:mt-8 lg:mt-0">
                    <div class="lg:w-200">
                        <div class="bg-white/8 rounded-xl p-6 md:mb-6">
                            <ul class="flex md:gap-4 gap-2 mb-6">
                                <li>
                                    <a [routerLink]="[]" class="py-2.5 px-5 inline-flex rounded-full text-white/90 border border-white/20 text-sm font-semibold focus:text-white focus:border-white">All</a>
                                </li>

                                <li>
                                    <a [routerLink]="[]" class="py-2.5 px-5 inline-flex rounded-full text-white/90 border border-white/20 text-sm font-semibold focus:text-white focus:border-white">New cars</a>
                                </li>

                                <li>
                                    <a [routerLink]="[]" class="py-2.5 px-5 inline-flex rounded-full text-white/90 border border-white/20 text-sm font-semibold focus:text-white focus:border-white">Used cars</a>
                                </li>
                            </ul>

                            <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                                <select aria-label="Car make select" class="w-full rounded-md border border-white bg-white px-3 py-2.25 text-sm text-default-400">
                                    <option value="">Make</option>
                                    <option value="Toyota">Toyota</option>
                                    <option value="Mercedes-Benz">Mercedes-Benz</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Ford">Ford</option>
                                    <option value="Chevrolet">Chevrolet</option>
                                    <option value="Audi">Audi</option>
                                    <option value="Tesla">Tesla</option>
                                    <option value="Mazda">Mazda</option>
                                    <option value="Nissan">Nissan</option>
                                    <option value="Volkswagen">Volkswagen</option>
                                </select>

                                <select aria-label="Car location select" class="w-full rounded-md border border-white bg-white px-3 py-2.25 text-sm text-default-400">
                                    <option value="">Location</option>
                                    <option value="New York">New York</option>
                                    <option value="Los Angeles">Los Angeles</option>
                                    <option value="Chicago">Chicago</option>
                                    <option value="Houston">Houston</option>
                                    <option value="Phoenix">Phoenix</option>
                                    <option value="Philadelphia">Philadelphia</option>
                                    <option value="San Antonio">San Antonio</option>
                                    <option value="San Diego">San Diego</option>
                                    <option value="Dallas">Dallas</option>
                                    <option value="San Jose">San Jose</option>
                                </select>

                                <select aria-label="Car model select" class="w-full rounded-md border border-white bg-white px-3 py-2.25 text-sm text-default-400">
                                    <option value="">Model</option>
                                    <option value="A-Class">A-Class</option>
                                    <option value="C-Class">C-Class</option>
                                    <option value="E-Class">E-Class</option>
                                    <option value="S-Class">S-Class</option>
                                    <option value="A205">A205</option>
                                    <option value="GLA">GLA</option>
                                    <option value="GLC">GLC</option>
                                    <option value="GLE">GLE</option>
                                    <option value="GLS">GLS</option>
                                    <option value="AMG GT">AMG GT</option>
                                </select>

                                <div class="grid grid-cols-2 bg-white border border-white rounded-md">
                                    <div class="border-e border-default-700">
                                        <select aria-label="Car year from select" class="w-full  px-3 py-2.25 text-sm text-default-400 rounded-tl-md rounded-bl-md bg-white border border-white">
                                            <option value="">Year from</option>
                                            <option value="2025">2025</option>
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                            <option value="2023">2023</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                        </select>
                                    </div>

                                    <div>
                                        <select aria-label="Car year to select" class="w-full  px-3 py-2.25 text-sm text-default-400 rounded-tl-md rounded-bl-md bg-white border border-white">
                                            <option value="">Year from</option>
                                            <option value="2025">2025</option>
                                            <option value="2024">2024</option>
                                            <option value="2023">2023</option>
                                            <option value="2023">2023</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                        </select>
                                    </div>
                                </div>

                                <select aria-label="Car body type select" class="w-full rounded-md border border-white bg-white px-3 py-2.25 text-sm text-default-400">
                                    <option value="">Body type</option>
                                    <option value="Sedan">Sedan</option>
                                    <option value="Convertible">Convertible</option>
                                    <option value="SUV">SUV</option>
                                    <option value="Coupe">Coupe</option>
                                    <option value="Pickup">Pickup</option>
                                </select>

                                <div class="flex flex-nowrap w-full">
                                    <div class="relative w-full">
                                        <iconify-icon icon="lucide:dollar-sign" class="absolute top-1/2 start-3 -translate-y-1/2 text-gray-600"></iconify-icon>
                                        <input type="text" placeholder="Price from" class="w-full rounded-l-md border border-gray-300 bg-white ps-10 pe-3 py-2 text-sm text-default-400 ">
                                    </div>

                                    <div class="relative w-full">
                                        <iconify-icon icon="lucide:dollar-sign" class="absolute top-1/2 start-3 -translate-y-1/2 text-gray-600"></iconify-icon>
                                        <input type="text" placeholder="Price to" class="w-full rounded-r-md border border-gray-300 bg-white ps-10 pe-3 py-2 text-sm text-default-400">
                                    </div>
                                </div>

                            </div>

                            <div class="flex mt-6">
                                <button type="submit" class="rounded-md text-white bg-primary inline-flex text-sm font-semibold items-center justify-center gap-2 py-2.5 px-5 transition duration-300 ease-in-out hover:bg-primary-hover">Search <iconify-icon icon="lucide:search" width="16" height="16"></iconify-icon></button>

                                <a [routerLink]="[]" class="text-sm font-semibold text-white/80 ps-5 py-2.5 inline-flex items-center hover:underline">Advance Search
                                    <iconify-icon icon="lucide:chevron-right" width="16" height="16" class="ms-1"></iconify-icon>
                                </a>
                            </div>
                        </div>

                        <p class="text-white/80 md:text-start text-center">Finder is a <span class="fw-semibold">leading digital marketplace</span> for the automotive industry.</p>
                    </div>
                </div>

                <div class="col-span-1 lg:order-2 order-1">
                    <div class="lg:w-sm mx-auto">
                        <h1 class="lg:text-5.5xl md:text-4.8xl text-3.5xl md:text-start text-center font-semibold mb-4 text-white">Easy way to find the right car</h1>

                        <div class="flex items-center justify-center lg:justify-start text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none">
                                <path d="M25.176 14.273c0-.79-.064-1.585-.201-2.362h-10.97v4.479h6.281c-.129.715-.401 1.397-.8 2.005a5.38 5.38 0 0 1-1.524 1.529v2.905h3.747c2.202-2.024 3.465-5.017 3.465-8.555h.001z" fill="#2a84fc"></path>
                                <path d="M14.008 25.636c3.136 0 5.782-1.029 7.709-2.807l-3.748-2.906c-1.043.709-2.388 1.111-3.957 1.111-3.033 0-5.607-2.046-6.53-4.799H3.614v2.996a11.63 11.63 0 0 0 10.394 6.405z" fill="#00ac47"></path>
                                <path d="M7.476 16.235c-.487-1.444-.487-3.009 0-4.453V8.785H3.612a11.64 11.64 0 0 0 0 10.445l3.864-2.996v.001z" fill="#ffba00"></path>
                                <path d="M14.008 6.979a6.32 6.32 0 0 1 4.461 1.743l3.32-3.32a11.18 11.18 0 0 0-7.782-3.025A11.63 11.63 0 0 0 3.614 8.785l3.864 2.998c.918-2.757 3.495-4.804 6.53-4.804z" fill="#fc2c25"></path>
                            </svg>
                            <div class="text-sm text-white/80 ms-1 me-3">Google</div>
                            <lucide-icon name="star" class="text-xl fill-warning text-warning"></lucide-icon>
                            <div class="text-sm text-white/80 ms-1">4.9</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="absolute lg:-end-110 -end-70 bottom-0 pb-12 xl:pb-12 -mb-5 xl:mb-4 2xl:mb-5 xl:ms-0 2xl:ms-0 overflow-x-hidden!">
            <div class="flex justify-end xl:justify-end relative bg-info -mb-5 2xl:mb-4">
                <img src="assets/img/home/cars/hero/layer01.png" width="1308" class="absolute top-0 end-0 opacity-20" alt="Image">
                <img src="assets/img/home/cars/hero/layer02.png" width="994" class="me-2 opacity-70" alt="Image">
                <img src="assets/img/home/cars/hero/layer03.png" width="1132" class="absolute top-0 start-0 opacity-60" alt="Image">
            </div>
        </div>
    </section>