 <ol class="flex flex-wrap items-center whitespace-nowrap pb-4 lg:mb-4 md:mb-2">
                <li class="inline-flex items-center">
                    <a class="flex items-center text-sm font-medium text-default-700 hover:text-default-900 focus:outline-hidden" href="index.html">
                        Home
                    </a>
                    <i class="iconify lucide--chevron-right mx-2"></i>
                </li>

                <li class="inline-flex items-center text-sm font-medium text-default-500/80 truncate" aria-current="page">
                    Accomodation
                </li>
            </ol>