<div class="flex md:items-center justify-between mb-4 pb-4">
    <div class="sm:flex items-center me-4">
        <div class="aspect-square shrink-0 bg-default-100 rounded-full overflow-hidden mb-2 sm:mb-0" style="width: 72px">
            <img src="assets/img/listings/contractors/single/avatar.jpg" alt="Avatar">
        </div>

        <div class="md:ps-6">
            <div class="flex items-center pb-1 mb-2">
                <h1 class="text-xl text-default-900 font-semibold pe-1 me-2">Mike Gardner</h1>
                <span class="inline-flex items-center bg-info text-white text-xs font-medium px-2 py-0.5 rounded">
                    Verified
                    <lucide-icon name="shield" class="size-3.5 ms-1"></lucide-icon>
                </span>
            </div>

            <ul class="flex flex-wrap gap-2 text-sm -ms-2 mb-0">
                <li class="flex items-center gap-1 ms-2">
                    <lucide-icon name="star" class="fill-warning text-warning size-4"></lucide-icon>
                    <span class="text-sm text-default-700">4.7</span>
                    <span class="text-xs text-default-500 self-end">(26)</span>
                </li>

                <li class="flex items-center gap-1 ms-2">
                    <lucide-icon name="credit-card" class="size-3.5"></lucide-icon>
                    $500 - $2,000
                </li>

                <li class="flex items-center gap-1 ms-2">
                    <lucide-icon name="leaf" class="size-3.5"></lucide-icon>
                    Eco-friendly
                </li>

                <li class="flex items-center gap-1 ms-2">
                    <lucide-icon name="thumbs-up" class="size-3.5"></lucide-icon>
                    Listing of the month
                </li>
            </ul>
        </div>
    </div>

    <div class="hs-tooltip [--placement:top] flex justify-end mb-3">
        <button type="button" class="hs-tooltip-toggle flex justify-center items-center size-10 border border-default-300 dark:border-white/20 rounded-full hover:border-body-color transition-all duration-300">
            <iconify-icon icon="lucide:bookmark" class="size-3.5 text-body-color"></iconify-icon>
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-default-900 text-xs font-medium text-body-bg rounded-md " role="tooltip">
                Bookmark
            </span>
        </button>
    </div>
</div>