<div class="flex justify-between gap-4 pb-2 mb-6 border-b border-border">
  <div class="flex gap-4 items-center">
    <div class="text-sm text-nowrap flex gap-1 pb-4">
      <span class="md:block hidden">Showing</span> 142 results
    </div>

    <div class="overflow-x-auto whitespace-nowrap lg:w-full md:w-130 w-50">
      <div class="flex gap-2 pb-4">
        <button
          class="text-xs py-2 px-4 bg-default-100 font-semibold dark:bg-default-200 rounded-full inline-flex justify-center items-center transition-all duration-500 ease-in-out hover:bg-default-200 dark:hover:bg-default-300"
        >
          <lucide-icon name="x" class="size-3.5 me-1"></lucide-icon>
          Sedan
        </button>

        <button
          class="text-xs py-2 px-4 bg-default-100 font-semibold dark:bg-default-200 rounded-full inline-flex justify-center items-center transition-all duration-500 ease-in-out hover:bg-default-200 dark:hover:bg-default-300"
        >
          <lucide-icon name="x" class="size-3.5 me-1"></lucide-icon>
          SUV
        </button>

        <button
          class="text-xs py-2 px-4 bg-default-100 font-semibold dark:bg-default-200 rounded-full inline-flex justify-center items-center transition-all duration-500 ease-in-out hover:bg-default-200 dark:hover:bg-default-300"
        >
          <lucide-icon name="x" class="size-3.5 me-1"></lucide-icon>
          Coupe
        </button>

        <button
          class="text-xs py-2 px-4 bg-default-100 font-semibold dark:bg-default-200 rounded-full inline-flex justify-center items-center transition-all duration-500 ease-in-out hover:bg-default-200 dark:hover:bg-default-300"
        >
          <lucide-icon name="x" class="size-3.5 me-1"></lucide-icon>
          Under 2023
        </button>

        <button
          class="text-xs py-2 px-4 bg-default-100 font-semibold dark:bg-default-200 rounded-full inline-flex justify-center items-center transition-all duration-500 ease-in-out hover:bg-default-200 dark:hover:bg-default-300"
        >
          <lucide-icon name="x" class="size-3.5 me-1"></lucide-icon>
          $17,000 - $120,000
        </button>
      </div>
    </div>
  </div>

  <div class="pb-4">
    <a class="text-xs underline hover:no-underline text-default-700 font-medium" [routerLink]="[]">Clear all</a>
  </div>
</div>
